{% assign t = site.data.translations %}
{% assign i = 2 %}
<nav class="breadcrumbs">
	<ol itemscope itemtype="http://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<span>{{ t[site.lang]['path'] }}: </span>
			<a itemprop="item" href="{{ "/" | relative_url }}">
				<span itemprop="name">{{ site.title }}</span></a>
			<meta itemprop="position" content="1" />
		</li>
		{% if page.categories != empty %}
		{% for category in page.categories %}
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<span class="sep">{{ site.breadcrumbs.separator }}</span>
			<a itemprop="item" href="/{{ category | slugify }}/">
				<span itemprop="name">{{ category | capitalize }}</span></a>
			<meta itemprop="position" content="{{ i }}" />
			{% assign i = i | plus: 1 %}
		</li>
		{% endfor %}
		{% endif %}
		<li>
			<span class="sep">{{ site.breadcrumbs.separator }}</span>
			<span itemprop="name">{{ page.title }}</span>
		</li>
	</ol>
</nav>
