{% assign t = site.data.translations %}
{% assign i = 2 %}
<nav class="breadcrumbs">
	<ol itemscope itemtype="http://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<span>{{ t[site.lang]['path'] }}: </span>
			<a itemprop="item" href="{{ "/" | relative_url }}">
				<span itemprop="name">{{ site.title }}</span></a>
			<meta itemprop="position" content="1"/>
		</li>
		{% if page.categories != empty %}
			{% for category in page.categories %}
			{% assign slug = category | slugify: 'latin' %}
			{% assign path = path | append: '/' | append: slug %}
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<span class="sep">{{ site.bc_sep }}</span>
			<a itemprop="item" href="{{ path }}/">
				<span itemprop="name">{{ category }}</span></a>
			<meta itemprop="position" content="{{ i }}"/>
			{% assign i = i | plus: 1 %}
		</li>
			{% endfor %}
		{% endif %}
		<li>
			<span class="sep">{{ site.bc_sep }}</span>
			{% if page.cat %}
			<span itemprop="name">{{ page.cat }}</span>
			{% elsif page.h1 %}
			<span itemprop="name">{{ page.h1 }}</span>
			{% else %}
			<span itemprop="name">{{ page.title }}</span>
			{% endif %}
		</li>
	</ol>
</nav>
