{% assign t = site.data.translations %}
<nav class="breadcrumbs">
	<span>{{ t[site.lang]['path'] }}: </span>

	<ol itemscope itemtype="http://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a itemprop="item" href="{{ "/" | relative_url }}">
				<span itemprop="name">{{ site.title }}</span></a>
			<meta itemprop="position" content="1" />
		</li>
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<span> / </span>
			<a itemprop="item" href="https://example.com/category_example">
				<span itemprop="name">Category Example</span></a>
			<meta itemprop="position" content="2" />
		</li>
		<li>
			<span> / </span>
			<span itemprop="name">{{ page.title }}</span>
		</li>
	</ol>
</nav>
