<footer>
	{% if site.data.footer-links %}
	<div class="bottom-links">
		<ul class="wrap">
		{% for item in site.data.footer-links.docs -%}
			<li><a href="{{ item.url }}">{{ item.title }}</a></li>
		{%- endfor %}
		</ul>
	</div>
	{% endif %}
	{% if site.footer_icons == true %}
	<div class="footer-icons">
		<ul class="wrap">
		{% include social-links.html %}
		</ul>
	</div>
	{% endif %}
	<div class="copyright">
		<div class="wrap">
			{% assign this_year = site.time | date: '%Y' | plus: 0 %}
			{% if site.first_year < this_year %}
				{% assign first_year = site.first_year | append: "-" %}
			{% else %}
				{% assign first_year = "" %}
			{% endif %}
			<span>&copy; {{ first_year }}{{ this_year }} {{ site.title }}</span>
			{% if site.copyright %}
				<span>{{ site.copyright | prepend: "- " }}</span>
			{% endif %}
		</div>
	</div>
</footer>
