<nav class="top-bar">
	<div class="wrap">
		<ul>
			<li><a target="_blank" rel="nofollow" class="fa-icon-sitemap" href="aaa" title="Sitemap"><span class="screen-reader-text">Sitemap</span></a></li>
			<li><a target="_blank" rel="nofollow" class="fa-icon-twitter" href="aaa" title="Facebook"><span class="screen-reader-text">Twitter</span></a></li>
			<li><a target="_blank" rel="nofollow" class="fa-icon-facebook" href="aaa" title="Twitter"><span class="screen-reader-text">Facebook</span></a></li>
			<li><a target="_blank" rel="nofollow" class="fa-icon-rss" href="aaa" title="RSS"><span class="screen-reader-text">RSS</span></a></li>
		</ul>
	</div>
</nav>
