<div class="menu-bar">
	<div class="wrap">
		<div class="logo">
			<a rel="home" title="{{ site.title }}" href="{{ "/" | relative_url }}">
				<img width="{{ site.logo.width }}" height="{{ site.logo.height }}" src="{{ site.logo.path | relative_url }}" alt="{{ site.title }}" title="{{ site.title }}">
			</a>
		</div>
		{% if site.data.navigation %}
		<nav class="navigation">
			<ul>
			{% for item in site.data.navigation.docs -%}
				{%- assign current = nil -%}
				{%- if page.url == item.url -%}
					{%- assign current = ' class="current"' -%}
				{%- endif -%}
				<li{{ current }}><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
			{%- endfor %}
			</ul>
			<select id="button-goto">
				<option selected="selected" value="#" class="menu-selected" hidden="hidden">&nbsp;</option>
			{% for item in site.data.navigation.docs -%}
				<option value="{{ item.url | relative_url }}">{{ item.title }}</option>
			{%- endfor %}
			</select>
			<span class="icon-select"></span>
		</nav>
		{% endif %}
	</div>
</div>
