<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Course",
  "@id": "{{ site.url }}{{ page.url }}#course",
  "name": {{ page.h1 | default: page.title | jsonify }},
  "url": "{{ site.url }}{{ page.url }}",
  {%- if page.metadesc %}
  "description": {{ page.metadesc | jsonify }},
  {%- endif %}
  "inLanguage": "es",
  "provider": {
    "@type": "EducationalOrganization",
    "@id": "{{ site.url }}/#organization",
    "name": {{ site.title | jsonify }},
    "url": "{{ site.url }}"
  },
  "isPartOf": {
    "@type": "WebSite",
    "@id": "{{ site.url }}/#website"
  }
  {%- if page.image %},
  "image": {
    "@type": "ImageObject",
    "url": "{{ site.url }}/{{ page.image }}"
  },
  "hasPart": [
  {%- assign lessons = site.categories[page.cat]
    | where: "tag", "lesson"
    | sort: "order"
  -%}
  {%- for post in lessons -%}
    {
    "@type": "Article",
    "@id": "{{ site.url }}{{ post.url }}#article",
    "headline": {{ post.h1 | default: post.title | jsonify }},
    "url": "{{ site.url }}{{ post.url }}"
  }{%- unless forloop.last %},{%- endunless %}
  {%- endfor -%}
]
  {%- endif %}
}
</script>
