{%- assign t = site.data.translations -%}

{%- capture the_cat -%}{{ page.categories | last }}{%- endcapture -%}
{%- assign sorted_posts = site.categories[the_cat] | sort: 'order' -%}

{%- for post in sorted_posts -%}
	{%- if post.url == page.url -%}

	{%- assign curr_index = forloop.index0 -%}
	{%- assign prev_index = curr_index | minus: 1 -%}
	{%- assign next_index = curr_index | plus: 1 -%}
	{%- assign articleIndexLength = forloop.length | minus: 1 -%}

	{%- if curr_index == articleIndexLength -%}
		{%- assign prev_post = sorted_posts[prev_index] -%}
	{%- endif -%}

	{%- if curr_index < articleIndexLength and curr_index != 0 -%}
		{%- assign prev_post = sorted_posts[prev_index] -%}
		{%- assign next_post = sorted_posts[next_index] -%}
	{%- endif -%}

	{%- if curr_index == 0 -%}
		{%- assign next_post = sorted_posts[next_index] -%}
	{%- endif -%}

	{%- endif -%}
{%- endfor -%}

<div class="nav-bar">
	<nav class="wrap">
		{%- if curr_index != 0 -%}
		<div><a href="{{ prev_post.url }}" rel="prev">🡠&nbsp;{{ t[site.lang]['prev'] }}</a></div>
		{%- else -%}
		<div><span>🡠&nbsp;{{ t[site.lang]['prev'] }}</span></div>
		{%- endif -%}
		{%- if page.sidebar != false -%}
		<div><a href="#aside">🗁&nbsp;{{ t[site.lang]['index'] }}</a></div>
		{%- else -%}
		<div><span>🗁&nbsp;{{ t[site.lang]['index'] }}</span></div>
		{%- endif -%}
		{%- if curr_index != articleIndexLength -%}
		<div><a href="{{ next_post.url }}" rel="next">{{ t[site.lang]['next'] }}&nbsp;🡢</a></div>
		{%- else -%}
		<div><span>{{ t[site.lang]['next'] }}&nbsp;🡢</span></div>
		{%- endif -%}
	</nav>
</div>
