{%- assign t = site.data.translations -%}
{%- assign z = site.data.months -%}
<p class="post-meta">
	<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
		{%- if site.lang == 'en' -%}
			{{- page.date | date: "%B %d, %Y" -}}
		{%- else -%}
			{{- page.date | date: "%d " -}}
			{% include get-month.html tdate=page.date %}
			{{- page.date | date: " %Y" -}}
		{%- endif -%}
	</time>

	{% if page.last_modified_at -%}
	<span>({{ t[site.lang]['upd'] }}: </span>
	<time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
		{%- if site.lang == 'en' -%}
			{{- page.last_modified_at | date: "%B %d, %Y" -}}
		{%- else -%}
			{{- page.last_modified_at | date: "%d " -}}
			{% include get-month.html tdate=page.last_modified_at %}
			{{- page.last_modified_at | date: " %Y" -}}
		{%- endif -%}
	</time>
	<span>)</span>
	{%- endif %}

	{% if page.author -%}
	<span> / {{ t[site.lang]['by'] }}</span>
	<span><span class="post-author">{{ page.author }}</span></span>
	{%- endif %}

	{% if page.categories != empty -%}
	<span> / {{ t[site.lang]['in'] }} </span>
		{%- for category in page.categories -%}
			{% assign slug = category | slugify: 'latin' %}
			{% assign path = path | append: '/' | append: slug %}
			<a href="{{ path }}/">{{ category }}</a>
			{%- unless forloop.last %}, {% endunless -%}
		{%- endfor -%}
	{%- endif %}
</p>
