<script src="/assets/js/lunr.js"></script>

<script>
{% assign counter = 0 %}
{% assign t = site.data.translations %}

var documents = [{% for page in site.posts %}
	{
		"id": {{ counter }},
		"url": "{{ page.url | replace: 'index.html', '' | absolute_url }}",
		"title": "{{ page.title | escape_once }}",
		"metadesc": "{{ page.metadesc | replace: "`", "" | escape_once }}",
		{% assign counter = counter | plus: 1 %}
	} {% unless forloop.last %},{% endunless %}
{% endfor %}];

var idx = lunr(function () {
	this.ref('id')
	this.field('title')
	this.field('metadesc')

	documents.forEach(function (doc) {
		this.add(doc)
	}, this)
});

function lunr_search(term) {
	document.getElementById('searchresults').innerHTML = '<ol></ol>';
	if(term) {
		document.getElementById('searchresults').innerHTML = "<p>{{ t[site.lang]['search_results'] }}: '" + term + "'</p>" + document.getElementById('searchresults').innerHTML;

		var results = idx.search(term);
		if(results.length>0){
			for (var i = 0; i < results.length; i++) {
				var ref = results[i]['ref'];
				var url = documents[ref]['url'];
				var title = documents[ref]['title'];
				var metadesc = documents[ref]['metadesc'];
				document.querySelectorAll('#searchresults ol')[0].innerHTML = document.querySelectorAll('#searchresults ol')[0].innerHTML + "<li class='searchresult'><a target='_blank' class='title' href='" + url + "'>" + title + "</a><br /><span class='metadesc'>" + metadesc + "</span><br /><a target='_blank' class='url' href='" + url + "'>"+ url +"</a></li>";
			}
		} else {
			document.querySelectorAll('#searchresults ol')[0].innerHTML = "<li class='searchresult'>{{ t[site.lang]['no_results'] }}</li>";
		}
	}
	return false;
}
</script>

<form class="search-form" onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
	<div class="input-field">
		<input type="text" class="search-input" id="lunrsearch" name="q" maxlength="255" value="" placeholder="{{ t[site.lang]['search'] }}" />
	</div>
	<div class="button-field">
	<button type="submit" class="search-button"><span class="si-icon-search"></span></button>
	</div>
</form>

<div id="searchresults">
<p></p>
	<ol></ol>
</div>
