{%- if page.sticky_side == true -%}
{%- assign sticky = " sticky-sidebar" -%}
{%- endif -%}
{%- if page.sticky_side == true and site.sticky_menu == true -%}
{%- assign ss_top = " ss-top-76" -%}
{%- elsif page.sticky_side == true -%}
{%- assign ss_top = " ss-top-21" -%}
{%- endif -%}

<aside class="sidebar{{ sticky }}{{ ss_top }}">
{%- if page.zone.sidebar_top -%}
{%- include {{ page.zone.sidebar_top }} -%}
{%- endif -%}

{%- if page.sidenav.categories == true or page.sidenav.posts == true or page.sidenav.pages == true -%}
{%- include sidenav.html -%}
{%- endif -%}

{%- if page.sidebar_custom -%}
{%- include {{ page.sidebar_custom }} -%}
{%- endif -%}

{%- if page.zone.sidebar_bottom -%}
{%- include {{ page.zone.sidebar_bottom }} -%}
{%- endif -%}
</aside>
