{%- assign t = site.data.translations -%}
{%- assign url = page.url | absolute_url | url_encode -%}
{%- assign title = page.title | url_encode -%}
<div class="social-share">
	<p>{{ t[site.lang]['share'] }}:</p>
		<a class="si-icon-x" title="X (Twitter)" target="_blank" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?text={{ title }}&nbsp;{{ url }}"></a>
		<a class="si-icon-facebook" title="Facebook" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}"></a>
		<a class="si-icon-linkedin" title="Linkedin" target="_blank" rel="noopener noreferrer" href="http://linkedin.com/shareArticle?mini=true&amp;url={{ url }}&amp;title={{ title }}"></a>
		<a class="si-icon-pinterest" href="//www.pinterest.com/pin/create/button/?url={{ url }}&media={{ site.url }}/{{ page.image }}&description={{ title }}"></a>
		<a class="si-icon-email" title="Email" href="mailto:?subject={{ title }}&amp;body={{ url }}"></a>
		<span class="clear"></span>
</div>
