{% assign t = site.data.translations %}
<div class="title-bar">
	<div class="wrap">
		<div class="title-info">
		{% if page.layout == 'post' %}
			<p>
				<span class="type">{{ t[site.lang]['post'] }}</span>
				{% if page.read_time %}
				<span> • </span>
				<span class="sub-type">{% include read-time.html %}</span>
				{% endif %}
			</p>
			{% if page.breadcrumbs %}
				{% include breadcrumbs.html %}
			{% endif %}
		{%- endif %}
		{% if page.layout == 'page' %}
			<p>
				<span class="type">{{ t[site.lang]['page'] }}</span>
				{% if page.read_time != false %}
				<span> • </span>
				<span class="sub-type">{% include read-time.html %}</span>
				{% endif %}
			</p>
			{% if page.breadcrumbs %}
				{% include breadcrumbs.html %}
			{% endif %}
		{%- endif %}
		{% if page.layout == 'category' %}
			<p>
				<span class="type">{{ t[site.lang]['category'] }}</span>
				{% if page.counter != false %}
					<span> • </span>
					{% if page.counter == "tag" %}
					<span class="sub-type">{% include count-posts-tag.html %}</span>
					{% else %}
					<span class="sub-type">{% include count-posts-cat.html %}</span>
					{% endif %}
				{% endif %}
			</p>
			{% if page.breadcrumbs %}
				{% include breadcrumbs.html %}
			{% endif %}
		{%- endif %}
		{% if page.url == "/404.html" %}
			<p>
				<span>Error</span>
			</p>
		{%- endif %}
		{% if page.layout == 'search' %}
			<p>
				<span class="type">{{ t[site.lang]['search_page'] }}</span>
			</p>
			{% if page.breadcrumbs %}
				{% include breadcrumbs.html %}
			{% endif %}
		{%- endif %}
		</div>
	</div>
</div>

