@charset "utf-8";

@font-face {
	font-display: swap;
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/oswald-v29-latin-regular.eot');
	src: url('/assets/fonts/oswald-v29-latin-regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/oswald-v29-latin-regular.woff2') format('woff2'),
		url('/assets/fonts/oswald-v29-latin-regular.woff') format('woff'),
		url('/assets/fonts/oswald-v29-latin-regular.ttf') format('truetype'),
		url('/assets/fonts/oswald-v29-latin-regular.svg#Oswald') format('svg');
}

@font-face {
	font-display: swap;
	font-family: 'sigma-icons';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/sigma-icons.eot');
	src: url('/assets/fonts/sigma-icons.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/sigma-icons.woff2') format('woff2'),
		url('/assets/fonts/sigma-icons.woff') format('woff'),
		url('/assets/fonts/sigma-icons.ttf') format('truetype'),
		url('/assets/fonts/sigma-icons.svg#sigma-icons') format('svg');
}

/*----------------------------------------------------------*/
/* 1. CSS Reset
/*----------------------------------------------------------*/

article,
aside,
details,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
pre,
figure,
section {
	display: block;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

html,
body,
div,
th,
td,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
label,
p,
figure,
input,
blockquote {
	direction: ltr;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: 0;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

a img {
	border: none;
}

a {
	text-decoration: none;
}

a,
p,
li {
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

a:focus {
	outline: 0;
	text-decoration: none;
}

ins {
	color: #346900;
	text-decoration: underline;
}

del {
	color: #c11c1c;
	text-decoration: line-through;
}

fieldset {
	margin: 0 0 10px 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	-moz-appearance: button;
	cursor: pointer;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.top-bar,
.menu-bar,
.title-bar,
.home-title-bar,
.main-content,
.sidenav {
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;
}

.body {
	-webkit-transition: color .2s ease-in-out,
		border .2s ease-in-out,
		background .2s ease-in-out;
	-moz-transition: color .2s ease-in-out,
		border .2s ease-in-out,
		background .2s ease-in-out;
	-ms-transition: color .2s ease-in-out,
		border .2s ease-in-out,
		background .2s ease-in-out;
	-o-transition: color .2s ease-in-out,
		border .2s ease-in-out,
		background .2s ease-in-out;
	transition: color .2s ease-in-out,
		border .2s ease-in-out,
		background .2s ease-in-out;
}

/*----------------------------------------------------------*/
/* 2. Layout
/*----------------------------------------------------------*/

body {
	background: #fff;
	color: #29313a;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.5em;
	overflow-wrap: break-word;
	text-transform: none;
	word-break: keep-all;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

img {
	height: auto;
	max-width: 100%;
}

.wrap {
	margin: 0 auto;
	width: 956px;
}

.sidebar-right .post {
	float: left;
	height: 100%;
	position: relative;
	width: 601px;
}

.sidebar-left .post {
	float: right;
	height: 100%;
	position: relative;
	width: 601px;
}

.sidebar {
	position: relative;
	width: 300px;
}

.sidebar-right .sidebar {
	float: right;
}

.sidebar-left .sidebar {
	float: left;
}

.sticky-sidebar {
	position: sticky;
	position: -webkit-sticky;
}

.ss-top-21 {
	top: 21px;
}

.ss-top-76 {
	top: 76px;
}

.scroll-55 h2[id],
.scroll-55 h3[id],
.scroll-55 h4[id],
.scroll-55 h5[id],
.scroll-55 h6[id] {
	scroll-margin-top: 55px;
}

.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	height: 0;
	line-height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	visibility: hidden;
	width: 0;
}

.si-icon-sitemap:before {
	content: "\f0e8";
	font-family: "sigma-icons";
}

.si-icon-twitter:before {
	content: "\f099";
	font-family: "sigma-icons";
}

.si-icon-x:before {
	content: "\e904";
	font-family: "sigma-icons";
}

.si-icon-facebook:before {
	content: "\f09a";
	font-family: "sigma-icons";
}

.si-icon-linkedin:before {
	content: "\f0e1";
	font-family: "sigma-icons";
}

.si-icon-pinterest:before {
	content: "\f231";
	font-family: "sigma-icons";
}

.si-icon-instagram:before {
	content: "\f16d";
	font-family: "sigma-icons";
}

.si-icon-github:before {
	content: "\f09b";
	font-family: "sigma-icons";
}

.si-icon-youtube:before {
	content: "\f167";
	font-family: "sigma-icons";
}

.si-icon-whatsapp:before {
	content: "\f232";
	font-family: "sigma-icons";
}

.si-icon-email:before {
	content: "\f003";
	font-family: "sigma-icons";
}

.si-icon-rss:before {
	content: "\f09e";
	font-family: "sigma-icons";
}

.si-icon-search:before {
	content: "\f002";
	font-family: "sigma-icons";
}

/*----------------------------------------------------------*/
/* 3. Header (top bar)
/*----------------------------------------------------------*/

.top-bar {
	background: #eef1f5;
	border-bottom: 1px solid #cbd5e2;
	border-top: 5px solid #ff7f2a;
	display: block;
	height: 34px;
	overflow: hidden;
	position: relative;
	text-align: right;
}

.top-bar ul {
	float: right;
}

.top-bar ul li {
	float: left;
	list-style: none;
}

.top-bar a {
	border-left: 1px solid #cbd5e2;
	color: #67798b;
	display: inline-block;
	font-size: 1em;
	line-height: 34px;
	text-align: center;
	-webkit-transition: color .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: color .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: color .2s ease-in-out, border .2s ease-in-out;
	-o-transition: color .2s ease-in-out, border .2s ease-in-out;
	transition: color .2s ease-in-out, border .2s ease-in-out;
	width: 34px;
}

.top-bar ul li:last-of-type a {
	border-right: 1px solid #cbd5e2;
}

/*----------------------------------------------------------*/
/* 4. Header (menu bar)
/*----------------------------------------------------------*/

.menu-bar {
	background: #fff;
	-webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.34);
	-moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.34);
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.34);
	display: block;
	height: 55px;
	position: relative;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.fixed-menu {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

section {
	padding-top: 0;
}

.fixed-menu + .title-bar {
	padding-top: 55px;
}

.fixed-menu + .home-title-bar {
	padding-top: 110px;
}

.tableize {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.logo {
	display: table-cell;
	height: 55px;
	line-height: 0;
	vertical-align: middle;
	width: 250px;
}

.nav {
	display: table-cell;
	padding-left: 15px;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;
}

.navigation {
	font-size: 0.875em;
	text-align: right;
}

.navigation ul {
	display: block;
}

.navigation ul li {
	display: inline-block;
	list-style: none;
	margin-left: 21px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

.navigation ul li:first-of-type {
	margin-left: 0;
}

.navigation ul li a {
	display: inline-block;
	line-height: 55px;
}

.navigation ul li a,
.navigation ul li a:link,
.navigation ul li a:visited {
	color: #29313a;
}

.navigation ul li a:hover,
.navigation ul li a.current {
	color: #ff7f2a;
}

.navigation ul li a:before {
	background: #ff7f2a;
	bottom: 14px;
	content: "";
	height: 2px;
	left: 51%;
	position: absolute;
	right: 51%;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-property: right,left;
	transition-property: right,left;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	z-index: -1;
}

.navigation ul li a:hover:before,
.navigation ul li a.current:before {
	left: 0;
	right: 0;
}

.navigation ul li a:after {
	content: "\f107";
	font: 1em "sigma-icons";
	line-height: 0;
	padding-left: 5px;
}

.navigation ul li > a:only-child:after {
	content: none;
}

.navigation ul li ul {
	background: #fff;
	border: 1px solid #cbd5e2;
	-webkit-box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.1);
	left: -13px;
	opacity: 0;
	position: absolute;
	text-align: left;
	visibility: hidden;
	z-index: 1000;
}

.navigation ul li:hover > ul {
	display: block;
	opacity: 1;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	visibility: visible;
}

.navigation ul li ul li {
	display: block;
	margin-left: 0;
}

.navigation ul li ul li a,
.navigation ul li ul li a:link,
.navigation ul li ul li a:visited {
	border-top: 1px solid #cbd5e2;
	display: block;
	line-height: unset;
	padding: 4px 12px;
}

.navigation ul li ul li:first-of-type a,
.navigation ul li ul li:first-of-type a:link,
.navigation ul li ul li:first-of-type a:visited {
	border-top: unset;
}

.navigation ul li ul li a:before {
	content: none;
}

.icons-nav {
	float: right;
}

.search-nav,
.toggle-nav {
	display: inline-block;
	line-height: 55px;
}

.search-nav a,
.search-nav a:link,
.search-nav a:visited,
.toggle-nav a,
.toggle-nav a:link,
.toggle-nav a:visited {
	color: #29313a;
	display: inline-block;
	margin-left: 21px;
	text-align: center;
}

.search-nav a,
.search-nav a:link,
.search-nav a:visited {
	line-height: 26px;
	width: 20px;
}

.search-nav a:hover {
	color: #ff7f2a;
}

.si-icon-toggle {
	background: #eef1f5;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
	box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
	cursor: pointer;
	line-height: 21px;
	padding: 2px;
	width: 44px;
}

.si-icon-toggle:before {
	background: #fff;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	color: #29313a;
	content: "\e9d4";
	display: block;
	font-family: "sigma-icons";
	left: 0;
	line-height: 22px;
	position: relative;
	-webkit-transition: transform .2s ease-in-out,
		background .2s ease-in-out;
	-moz-transition: transform .2s ease-in-out,
		background .2s ease-in-out;
	-ms-transition: transform .2s ease-in-out,
		background .2s ease-in-out;
	-o-transition: transform .2s ease-in-out,
		background .2s ease-in-out;
	transition: transform .2s ease-in-out,
		background .2s ease-in-out;
	width: 22px;
}

.si-icon-toggle:hover:before {
	color: #ff7f2a;
}

.close-nav,
.button-nav {
	display: none;
}

/*----------------------------------------------------------*/
/* 5. Title bar
/*----------------------------------------------------------*/

.title-bar {
	background: #eef1f5;
	border-bottom: 1px solid #cbd5e2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: table;
	height: 89px;
	table-layout: fixed;
	width: 100%;
}

.title-bar p {
	margin: 0;
}

.title-bar .title-info {
	display: table-cell;
	height: 89px;
	vertical-align: middle;
}

.title-bar .type {
	font-weight: bold;
}

.title-bar .sub-type {
	color: #475461;
	font-style: italic;
}

.title-bar ol,
.title-bar li {
	display: inline-block;
}

.title-bar .breadcrumbs {
	color: #475461;
	font-size: 0.813em;
	line-height: normal;
	margin-top: 3px;
}

.title-bar .breadcrumbs a:link,
.title-bar .breadcrumbs a:visited {
	color: #29313a;
	text-decoration: underline;
}

.title-bar .breadcrumbs a:hover {
	color: #ff7f2a;
}

.title-bar .breadcrumbs .sep {
	padding: 0;
}

.top-bar,
.menu-bar,
.title-bar {
	clear: both;
}

.title-bar .sub-type {
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

/* --- */

.home-title-bar {
	background: #eef1f5;
	border-bottom: 1px solid #cbd5e2;
	display: block;
	max-width: 100%;
	padding: 55px 0;
	text-align: center;
}

.home-title-bar h1 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 2em;
	margin-bottom: 0;
}

.home-title-bar p {
	font-size: 1.125em;
	margin-top: 1.625em;
}

.home-title-bar span {
	color: #ff7f2a;
	font-weight: bold;
}

.home-title-bar a:link,
.home-title-bar a:visited {
	color: #095cae;
	text-decoration: underline;
}

.home-title-bar a:hover {
	color: #ff7f2a;
}

/* --- */

.nav-bar {
	display: none;
}

/*----------------------------------------------------------*/
/* 6. Main content
/*----------------------------------------------------------*/

.main-content {
	background: #fff;
	padding: 55px 0 29px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Oswald",Arial,Helvetica,sans-serif;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 15px;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

h1 {
	font-size: 1.625em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1.1em;
}

.main-content p,
.main-content ul,
.main-content ol,
.main-content dl,
.main-content hr,
.main-content iframe,
.main-content figure,
.main-content figcaption,
.main-content blockquote,
.main-content form,
.main-content video,
.main-content audio,
.main-content picture,
.main-content embed,
.main-content details,
.main-content canvas,
.main-content address,
.main-content .highlight,
.main-content .social-share,
.main-content .next-prev,
.post-content,
.post-content .notice-info,
.post-content .notice-success,
.post-content .notice-warning,
.post-content .notice-danger,
.post-content .align-right,
.post-content .align-left,
.loop-excerpt,
.loop-excerpt div,
.post .adsbygoogle {
	margin-bottom: 1.625em;
}

.main-content ul li > ul,
.main-content ol li > ol,
.main-content ul li > ol,
.main-content ol li > ul {
	margin: 8px 0;
}

.main-content ul,
.main-content ol {
	padding-left: 30px;
}

/*----------------------------------------------------------*/
/* 7. Post content
/*----------------------------------------------------------*/

.post-title {
	line-height: 1.2em;
	margin-top: -5px;
}

.post-meta {
	border-bottom: 1px dashed #8aa0b8;
	color: #475461;
	display: block;
	padding-bottom: 15px;
	-webkit-transition: color .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: color .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: color .2s ease-in-out, border .2s ease-in-out;
	-o-transition: color .2s ease-in-out, border .2s ease-in-out;
	transition: color .2s ease-in-out, border .2s ease-in-out;
}

.post-meta a:link,
.post-meta a:visited {
	color: #475461;
	text-decoration: underline;
}

.post-meta a:hover {
	color: #ff7f2a;
}

.post-content h2 {
	border-bottom: 1px dotted #8aa0b8;
	padding-bottom: 15px;
	-webkit-transition: border .2s ease-in-out, color .2s ease-in-out;
	-moz-transition: border .2s ease-in-out, color .2s ease-in-out;
	-ms-transition: border .2s ease-in-out, color .2s ease-in-out;
	-o-transition: border .2s ease-in-out, color .2s ease-in-out;
	transition: border .2s ease-in-out, color .2s ease-in-out;
}

.post-content .loop-excerpt h2 {
	border-bottom: none;
	padding-bottom: 0;
}

.post-content a:link,
.post-content a:visited {
	color: #095cae;
	text-decoration: underline;
}

.post-content a:hover {
	color: #ff7f2a;
}

.post-content img {
	display: block;
}

.post-content .align-center,
.post-content figure.align-center img {
	margin-left: auto;
	margin-right: auto;
}

.post-content figure figcaption {
	text-align: center;
}

.post-content .align-left {
	float: left;
	padding: 5px 1.625em 5px 0;
}

.post-content .align-right {
	float: right;
	padding: 5px 0 5px 1.625em;
}

.post-content figure.align-center,
.post-content figure.align-left,
.post-content figure.align-right {
	margin-bottom: 0;
}

.post-content figcaption {
	color: #475461;
	font-size: 0.875em;
	font-style: italic;
	margin-top: 5px;
}

.post-content .half > a,
.post-content .half > img {
	float: left;
	margin-right: 2%;
	width: 49%;
}

.post-content .third > a,
.post-content .third > img {
	float: left;
	margin-right: 2%;
	width: 32%;
}

.post-content .quarter > a,
.post-content .quarter > img {
	float: left;
	margin-right: 2%;
	width: 23.5%;
}

.post-content .fifth > a,
.post-content .fifth > img {
	float: left;
	margin-right: 2%;
	width: 18.4%;
}

.post-content .sixth > a,
.post-content .sixth > img {
	float: left;
	margin-right: 2%;
	width: 15%;
}

.post-content .half > a:last-of-type,
.post-content .half > img:last-of-type,
.post-content .third > a:last-of-type,
.post-content .third > img:last-of-type,
.post-content .quarter > a:last-of-type,
.post-content .quarter > img:last-of-type,
.post-content .fifth > a:last-of-type,
.post-content .fifth > img:last-of-type,
.post-content .sixth > a:last-of-type,
.post-content .sixth > img:last-of-type {
	float: right;
	margin-right: 0;
}

.post-content .half figcaption,
.post-content .third figcaption {
	margin-bottom: 0;
}

.post-content blockquote {
	background: #eef1f5;
	border-left: 4px solid #8aa0b8;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
	padding: 10px 15px;
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	-ms-transition: background .2s ease-in-out;
	-o-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
}

.post-content blockquote p:last-of-type,
.post-content blockquote form:last-of-type,
.post-content blockquote fieldset:last-of-type,
.post-content blockquote ul:last-of-type,
.post-content blockquote ol:last-of-type,
.post-content blockquote dl:last-of-type {
	margin: 0;
}

.post-content blockquote p + blockquote {
	margin: 15px 0 0;
}

.post-content canvas {
	border: 1px solid #8aa0b8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	max-width: 100%;
}

.post-content .notice-info,
.post-content .notice-success,
.post-content .notice-warning,
.post-content .notice-danger {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	padding: 10px 15px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.post-content .notice-info {
	background: #d3ebfa;
	border-top: 2px solid #54ace7;
	color: #1a3a4e;
}

.post-content .notice-success {
	background: #d4f7ba;
	border-top: 2px solid #65ca1d;
	color: #273f15;
}

.post-content .notice-warning {
	background: #f7e7b8;
	border-top: 2px solid #c49a1c;
	color: #3e3415;
}

.post-content .notice-danger {
	background: #fad1d1;
	border-top: 2px solid #e96363;
	color: #602020;
}

.post-content .notice-info ul:last-of-type,
.post-content .notice-info ol:last-of-type,
.post-content .notice-info p:last-of-type,
.post-content .notice-success ul:last-of-type,
.post-content .notice-success ol:last-of-type,
.post-content .notice-success p:last-of-type,
.post-content .notice-warning ul:last-of-type,
.post-content .notice-warning ol:last-of-type,
.post-content .notice-warning p:last-of-type,
.post-content .notice-danger ul:last-of-type,
.post-content .notice-danger ol:last-of-type,
.post-content .notice-danger p:last-of-type {
	margin-bottom: 0;
}

.post-content p > code,
.post-content td > code,
.post-content th > code,
.post-content li > code {
	background: #eef1f5;
	border: 1px solid #cbd5e2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #bc004f;
	font-family: monospace;
	font-size: 1.1em;
	margin: 0 2px;
	padding: 1px 5px;
	-webkit-transition: background .2s ease-in-out,
		border .2s ease-in-out,
		color 0.2s ease-in-out;
	-moz-transition: background .2s ease-in-out,
		border .2s ease-in-out,
		color 0.2s ease-in-out;
	-ms-transition: background .2s ease-in-out,
		border .2s ease-in-out,
		color 0.2s ease-in-out;
	-o-transition: background .2s ease-in-out,
		border .2s ease-in-out,
		color 0.2s ease-in-out;
	transition: background .2s ease-in-out,
		border .2s ease-in-out,
		color 0.2s ease-in-out;
	white-space: pre;
}

.post-content .highlight {
	border: 1px solid #29313a;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 4px 4px 12px rgba(0,0,0,0.34);
	-moz-box-shadow: 4px 4px 12px rgba(0,0,0,0.34);
	box-shadow: 4px 4px 12px rgba(0,0,0,0.34);
	font-size: 1.15em;
	line-height: normal;
	padding: 15px;
}

.post-content .highlight pre {
	overflow: auto;
	white-space: pre-wrap;
}

/* Workaround to fix double class */
.post-content .highlight > .highlight {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

.post-content .lineno {
	border-right: 1px solid #29313a;
	margin-right: 15px;
	padding-right: 14px;
}

.post-content > table {
	display: block;
	margin-bottom: 1.625em;
	overflow-x: auto;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.post-content > table thead {
	background: #eef1f5;
	font-weight: bold;
}

.post-content > table th,
.post-content > table td {
	border: 1px solid #cbd5e2;
	padding: 3px 8px;
	word-break: normal;
}

.post-content > table tfoot {
	background: #eef1f5;
	font-weight: bold;
}

.post-content > table thead,
.post-content > table tfoot {
	-webkit-transition: border .2s ease-in-out, background .2s ease-in-out;
	-moz-transition: border .2s ease-in-out, background .2s ease-in-out;
	-ms-transition: border .2s ease-in-out, background .2s ease-in-out;
	-o-transition: border .2s ease-in-out, background .2s ease-in-out;
	transition: border .2s ease-in-out, background .2s ease-in-out;
}

.post-content sup,
.post-content sub {
	font-size: 0.875em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

.post-content sup {
	top: -0.4em;
}

.post-content sub {
	bottom: -0.2em;
}

.post-content kbd {
	background: #eef1f5;
	border: 1px solid #cbd5e2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2),
		inset 0 2px 0 0 rgba(255,255,255,.7);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.2),
		inset 0 2px 0 0 rgba(255,255,255,.7);
	box-shadow: 0 1px 1px rgba(0,0,0,.2),
		inset 0 2px 0 0 rgba(255,255,255,.7);
	color: #29313a;
	font-size: 1.1em;
	margin: 0 2px;
	padding: 1px 5px;
}

.post-content > pre {
	margin-bottom: 1.625em;
	overflow: auto;
}

.post-content hr {
	border: 0;
	border-bottom: 1px dashed #8aa0b8;
	margin-top: 0;
	-webkit-transition: border .2s ease-in-out;
	-moz-transition: border .2s ease-in-out;
	-ms-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

.post-content dd {
	margin: 0 0 8px 30px;
}

.post-content .btn {
	background-color: #7E93A9;
	border-radius: 4px;
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
	color: #fff !important;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: 0.5em 1em;
	text-align: center;
	text-shadow: 1px 1px rgba(0,0,0,0.34);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	vertical-align: bottom;
}

.post-content a.btn:link,
.post-content a.btn:visited {
	text-decoration: none;
}

.post-content .btn-success {
	background-color: #6D9E36;
}

.post-content .btn-warning {
	background-color: #A98E36;
}

.post-content .btn-danger {
	background-color: #EC6937;
}

.post-content .btn-info {
	background-color: #3B9EA7;
}

.post-content .btn-teal {
	background-color: #39A281;
}

.post-content .btn-inverse {
	background-color: #fff;
	-webkit-box-shadow: inset 0 0 0 1px #7E93A9;
	-moz-box-shadow: inset 0 0 0 1px #7E93A9;
	box-shadow: inset 0 0 0 1px #7E93A9;
	color: #29313a !important;
	text-shadow: none;
}

.post-content .btn:hover {
	background-color: #5C6C7D;
}

.post-content .btn-success:hover {
	background-color: #507525;
}

.post-content .btn-warning:hover {
	background-color: #7D6926;
}

.post-content .btn-danger:hover {
	background-color: #B04C26;
}

.post-content .btn-info:hover {
	background-color: #2A757B;
}

.post-content .btn-teal:hover {
	background-color: #28775E;
}

.post-content .btn-inverse:hover {
	background-color: #29313a;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #fff !important;
}

.post-content .btn-small {
	font-size: 0.875em;
}

.post-content .btn-large {
	font-size: 1.125em;
}

.post-content .btn-x-large {
	font-size: 1.25em;
}

.post-content .katex-display {
	margin: 1.625em 0;
}

/*----------------------------------------------------------*/
/* 8. Side menu navigation
/*----------------------------------------------------------*/

.sidenav {
	background: #eef1f5;
	border: 1px solid #cbd5e2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 1.625em;
	padding: 13px;
}

.sidenav h3 {
	margin-left: 8px;
}

.sidenav ul,
.sidenav ul li ul {
	margin: 0;
	padding: 0;
	position: relative;
}

.sidenav ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidenav li:not(:last-child) a {
	margin-bottom: 1px;
}

.sidenav ul li a,
.sidenav ul li a:link,
.sidenav ul li a:visited {
	color: #29313a;
	display: block;
	line-height: normal;
	padding: 8px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.sidenav ul li a:hover {
	background: #dce3eb;
}

.sidenav ul li a.current {
	background: #dce3eb;
	border-right: 2px solid #ff7f2a;
}

.sidenav ul li ul li a,
.sidenav ul li ul li a:link,
.sidenav ul li ul li a:visited {
	padding-left: 22px;
}

.sidenav ul li ul li:before {
	color: #29313a;
	content: "•";
	display: inline-block;
	left: 10px;
	line-height: 34px;
	position: absolute;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

/*----------------------------------------------------------*/
/* 9. Social share buttons
/*----------------------------------------------------------*/

.social-share p {
	font-weight: bold;
	margin-bottom: 12px;
}

.social-share a {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: block;
	float: left;
	height: 32px;
	line-height: 32px;
	margin-right: 8px;
	text-align: center;
	width: 52px;
}

.social-share a:link,
.social-share a:visited {
	color: #fff;
	-webkit-transition: background .2s ease-in-out, color .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, color .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, color .2s ease-in-out;
	-o-transition: background .2s ease-in-out, color .2s ease-in-out;
	transition: background .2s ease-in-out, color .2s ease-in-out;
}

.social-share a:hover {
	background: #dce3eb;
	color: #29313a;
}

.social-share a:last-of-type {
	margin-right: 0;
}

.social-share a:before {
	font-size: 1em;
}

.social-share .si-icon-twitter {
	background: #55acee;
}

.social-share .si-icon-x {
	background: #414a4f;
}

.social-share .si-icon-facebook {
	background: #3b5998;
}

.social-share .si-icon-linkedin {
	background: #0976b4;
}

.social-share .si-icon-pinterest {
	background: #bb312b;
}

.social-share .si-icon-email {
	background: #449a88;
}

/*----------------------------------------------------------*/
/* 10. Category page
/*----------------------------------------------------------*/

.loop-excerpt {
	border-bottom: 1px dashed #8aa0b8;
	-webkit-transition: border .2s ease-in-out;
	-moz-transition: border .2s ease-in-out;
	-ms-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

.loop-excerpt:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
}

.loop-excerpt a:link,
.loop-excerpt a:visited {
	text-decoration: none;
}

/*----------------------------------------------------------*/
/* 11. Next/prev buttons
/*----------------------------------------------------------*/

.next-prev {
	border-bottom: 1px dashed #8aa0b8;
	border-top: 1px dashed #8aa0b8;
	display: block;
	padding: 10px 0;
	-webkit-transition: border .2s ease-in-out;
	-moz-transition: border .2s ease-in-out;
	-ms-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

.np-prev,
.np-next {
	padding: 10px 0;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.next-prev .np-prev {
	float: left;
	margin-right: 4%;
	text-align: left;
	width: 48%;
}

.next-prev .np-next {
	float: right;
	margin-right: 0;
	text-align: right;
	width: 48%;
}

.next-prev a:link,
.next-prev a:visited {
	color: #095cae;
	text-decoration: underline;
}

.next-prev a:hover {
	color: #ff7f2a;
}

/*----------------------------------------------------------*/
/* 12. Footer
/*----------------------------------------------------------*/

footer {
	background: #eef1f5;
	border-top: 8px solid #cbd5e2;
	color: #29313a;
	font-size: 0.875em;
	overflow: hidden;
	text-align: center;
	-webkit-transition: border .2s ease-in-out,
		background .2s ease-in-out;
	-moz-transition: border .2s ease-in-out,
		background .2s ease-in-out;
	-ms-transition: border .2s ease-in-out,
		background .2s ease-in-out;
	-o-transition: border .2s ease-in-out,
		background .2s ease-in-out;
	transition: border .2s ease-in-out,
		background .2s ease-in-out;
}

footer a {
	color: #29313a;
}

.bottom-links,
.footer-icons {
	min-height: 55px;
}

.bottom-links .wrap,
.footer-icons .wrap {
	border-bottom: 1px solid #cbd5e2;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	-webkit-transition: border .2s ease-in-out,
		box-shadow .2s ease-in-out;
	-moz-transition: border .2s ease-in-out,
		box-shadow .2s ease-in-out;
	-ms-transition: border .2s ease-in-out,
		box-shadow .2s ease-in-out;
	-o-transition: border .2s ease-in-out,
		box-shadow .2s ease-in-out;
	transition: border .2s ease-in-out,
		box-shadow .2s ease-in-out;
}

.bottom-links ul li,
.footer-icons ul li {
	display: inline-block;
	line-height: 55px;
}

.bottom-links li + li::before {
	content: "|";
	display: inline-block;
	margin: 0 8px;
}

.footer-icons li a {
	display: inline-block;
	font-size: 1.25em;
	line-height: 25px;
	margin: 3px;
	vertical-align: middle;
	width: 25px;
}

.copyright {
	min-height: 55px;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.copyright span {
	line-height: 55px;
}

/*----------------------------------------------------------*/
/* 13. Scroll up
/*----------------------------------------------------------*/

.scrollup {
	background: rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	bottom: 10px;
	cursor: pointer;
	height: 34px;
	opacity: 0;
	position: fixed;
	right: 10px;
	text-align: center;
	-webkit-transition: background .3s ease-in-out, opacity .3s, visibility .3s;
	-moz-transition: background .3s ease-in-out, opacity .3s, visibility .3s;
	-o-transition: background .3s ease-in-out, opacity .3s, visibility .3s;
	transition: background .3s ease-in-out, opacity .3s, visibility .3s;
	visibility: hidden;
	width: 34px;
	z-index: 9985;
}

.scrollup.is-visible {
	opacity: 1;
	visibility: visible;
}

.scrollup:before {
	color: #fff;
	content: "\f106";
	display: inline-block;
	font: 25px "sigma-icons";
	line-height: 1;
	opacity: 1;
	padding-top: 4px;
}

/*----------------------------------------------------------*/
/* 14. Lunr
/*----------------------------------------------------------*/

.search-form {
	display: table;
	margin-bottom: 1.625em;
	width: 100%;
}

.input-field,
.button-field {
	display: table-cell;
	vertical-align: top;
}

.button-field {
	width: 50px;
}

.search-input {
	background: #eef1f5;
	border: 1px solid #cbd5e2;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #29313a;
	font-size: 1em;
	height: 45px;
	padding: 15px;
	width: 100%;
}

.search-input:focus {
	border: 1px solid #ff7f2a;
	outline: none;
}

.search-button {
	background: #cbd5e2;
	border: 1px solid #cbd5e2;
	border-left: none;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	color: #29313a;
	font-size: 1em;
	height: 45px;
	outline: none;
	position: relative;
	width: 50px;
}

.search-button:hover {
	color: #ff7f2a;
}

.search-button,
.search-input {
	-webkit-transition: background .2s ease-in-out,
		color .2s ease-in-out,
		border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out,
		color .2s ease-in-out,
		border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out,
		color .2s ease-in-out,
		border .2s ease-in-out;
	-o-transition: background .2s ease-in-out,
		color .2s ease-in-out,
		border .2s ease-in-out;
	transition: background .2s ease-in-out,
		color .2s ease-in-out,
		border .2s ease-in-out;
}

.searchresult {
	margin-bottom: 1.625em;
}

.post-content .searchresult a.title:link,
.post-content .searchresult a.title:visited {
	color: #095cae;
	font-weight: bold;
	text-decoration: none;
}

.post-content .searchresult a.url:link,
.post-content .searchresult a.url:visited {
	color: green;
	font-style: italic;
}

.post-content .searchresult a.title:hover,
.post-content .searchresult a.url:hover {
	color: #ff7f2a;
}

/*----------------------------------------------------------*/
/* Z. Responsive
/*----------------------------------------------------------*/

@media only screen and (max-width : 1024px) {

	body {
		width: 100%;
	}

	.wrap {
		margin: 0 3%;
		width: 94%;
	}

	.sidebar-right .post,
	.sidebar-left .post,
	.sidebar {
		float: none;
		width: 100%;
	}

	.scroll-76[id] {
		scroll-margin-top: 76px;
	}

	.logo {
		width: 100%;
	}

	.logo img {
		max-width: 100%;
		width: auto;
	}

	.nav {
		width: 35px;
	}

	.button-nav {
		background: #fff;
		border: 1px solid #cbd5e2;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		-webkit-box-shadow: inset 0 -12px 10px -3px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 -12px 10px -3px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 -12px 10px -3px rgba(0, 0, 0, 0.05);
		cursor: pointer;
		display: block;
		height: 33px;
		position: relative;
		-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
		-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
		-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
		-o-transition: background .2s ease-in-out, border .2s ease-in-out;
		transition: background .2s ease-in-out, border .2s ease-in-out;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		width: 33px;
	}

	.button-nav:hover {
		background: #eef1f5;
	}

	.button-nav:before {
		color: #29313a;
		content: "\f0c9";
		display: inline-block;
		font: 20px "sigma-icons";
		line-height: 33px;
		position: relative;
		text-align: center;
		width: 100%;
	}

	.button-nav.is-open:before {
		content: "\00d7";
		font: 28px "sigma-icons";
		line-height: 28px;
	}

	.navigation {
		background: #fff;
		bottom: 0;
		-webkit-box-shadow: 2px 0 2px -1px rgba(0,0,0,0.34);
		-moz-box-shadow: 2px 0 2px -1px rgba(0,0,0,0.34);
		box-shadow: 2px 0 2px -1px rgba(0,0,0,0.34);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-size: 1em;
		height: 100%;
		left: -300px;
		overflow-y: auto;
		padding: 21px;
		position: fixed;
		top: 0;
		-webkit-transition: left .2s ease-in-out,
			box-shadow .2s ease-in-out,
			visibility .2s ease-in-out,
			background .2s ease-in-out;
		-moz-transition: left .2s ease-in-out,
			box-shadow .2s ease-in-out,
			visibility .2s ease-in-out,
			background .2s ease-in-out;
		-ms-transition: left .2s ease-in-out,
			box-shadow .2s ease-in-out,
			visibility .2s ease-in-out,
			background .2s ease-in-out;
		-o-transition: left .2s ease-in-out,
			box-shadow .2s ease-in-out,
			visibility .2s ease-in-out,
			background .2s ease-in-out;
		transition: left .2s ease-in-out,
			box-shadow .2s ease-in-out,
			visibility .2s ease-in-out,
			background .2s ease-in-out;
		visibility: hidden;
		width: 300px;
		z-index: 9986;
	}

	.navigation.menu-visible {
		left: 0;
		text-align: right;
		visibility: visible;
	}

	.navigation ul {
		display: none;
	}

	.navigation.menu-visible ul {
		display: block;
	}

	.navigation.menu-visible ul li {
		display: block;
		margin: 0;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}

	.navigation.menu-visible ul li a:before,
	.navigation.menu-visible ul li a:hover:before,
	.navigation.menu-visible ul li a.current:before {
		content: none;
	}

	.navigation.menu-visible ul li a {
		background: #eef1f5;
		border-left: 2px solid #dce3eb;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: block;
		line-height: unset;
		margin-bottom: 5px;
		padding: 5px 13px;
		text-align: left;
		-webkit-transition: background .2s ease-in-out,
			color .2s ease-in-out,
			border-left-color .2s ease-in-out;
		-moz-transition: background .2s ease-in-out,
			color .2s ease-in-out,
			border-left-color .2s ease-in-out;
		-ms-transition: background .2s ease-in-out,
			color .2s ease-in-out,
			border-left-color .2s ease-in-out;
		-o-transition: background .2s ease-in-out,
			color .2s ease-in-out,
			border-left-color .2s ease-in-out;
		transition: background .2s ease-in-out,
			color .2s ease-in-out,
			border-left-color .2s ease-in-out;
		width: 100%;
	}

	.navigation.menu-visible ul li a:link,
	.navigation.menu-visible ul li a:visited {
		color: #29313a;
	}

	.navigation.menu-visible ul li a:hover {
		color: #ff7f2a;
	}

	.navigation.menu-visible li a:after {
		content: none;
	}

	.navigation.menu-visible ul li a.current {
		border-left-color: #ff7f2a;
		color: #ff7f2a;
	}

	.navigation.menu-visible ul li ul {
		border: unset;
		box-shadow: unset;
		display: block;
		left: unset;
		margin: 0;
		opacity: 1;
		position: relative;
		-webkit-transition: background .2s ease-in-out;
		-moz-transition: background .2s ease-in-out;
		-ms-transition: background .2s ease-in-out;
		-o-transition: background .2s ease-in-out;
		transition: background .2s ease-in-out;
		visibility: visible;
	}

	.navigation.menu-visible ul li ul li {
		display: block;
	}

	.navigation.menu-visible ul li ul li:before {
		color: #29313a;
		content: "•";
		display: inline-block;
		left: 17px;
		line-height: 34px;
		position: absolute;
		-webkit-transition: color .2s ease-in-out;
		-moz-transition: color .2s ease-in-out;
		-ms-transition: color .2s ease-in-out;
		-o-transition: color .2s ease-in-out;
		transition: color .2s ease-in-out;
	}

	.navigation.menu-visible ul li ul li a {
		border-top: unset;
		padding-left: 27px;
	}

	.icons-nav {
		float: left;
	}

	.search-nav,
	.toggle-nav {
		line-height: 34px;
	}

	.search-nav a,
	.search-nav a:link,
	.search-nav a:visited,
	.toggle-nav a,
	.toggle-nav a:link,
	.toggle-nav a:visited,
	.close-nav {
		background: #dce3eb;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}

	.search-nav a,
	.search-nav a:link,
	.search-nav a:visited,
	.toggle-nav a,
	.toggle-nav a:link,
	.toggle-nav a:visited {
		margin: 0 8px 13px 0;
	}

	.search-nav a,
	.search-nav a:link,
	.search-nav a:visited {
		height: 34px;
		line-height: 34px;
		-webkit-transition: background .2s ease-in-out, color .2s ease-in-out;
		-moz-transition: background .2s ease-in-out, color .2s ease-in-out;
		-ms-transition: background .2s ease-in-out, color .2s ease-in-out;
		-o-transition: background .2s ease-in-out, color .2s ease-in-out;
		transition: background .2s ease-in-out, color .2s ease-in-out;
		width: 34px;
	}

	.toggle-nav a,
	.toggle-nav a:link,
	.toggle-nav a:visited {
		height: 28px;
		width: 50px;
	}

	.si-icon-toggle {
		box-shadow: none;
		line-height: 28px;
		padding: 3px;
		-webkit-transition: background .2s ease-in-out;
		-moz-transition: background .2s ease-in-out;
		-ms-transition: background .2s ease-in-out;
		-o-transition: background .2s ease-in-out;
		transition: background .2s ease-in-out;
		width: 30px;
	}

	.si-icon-toggle:before {
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		line-height: 28px;
		width: 28px;
	}

	.close-nav {
		color: #29313a;
		cursor: pointer;
		display: inline-block;
		height: 34px;
		margin-bottom: 13px;
		text-align: center;
		-webkit-transition: background .2s ease-in-out, color .2s ease-in-out;
		-moz-transition: background .2s ease-in-out, color .2s ease-in-out;
		-ms-transition: background .2s ease-in-out, color .2s ease-in-out;
		-o-transition: background .2s ease-in-out, color .2s ease-in-out;
		transition: background .2s ease-in-out, color .2s ease-in-out;
		width: 34px;
	}

	.close-nav:hover {
		color: #ff7f2a;
	}

	.close-nav:before {
		content: "\00d7";
		font: 28px "sigma-icons";
		line-height: 28px;
	}

	.nav-bar {
		background: #fff;
		border-bottom: 1px solid #cbd5e2;
		display: block;
		height: 34px;
		overflow: hidden;
		position: relative;
		text-align: left;
	}

	.nav-bar div {
		border-right: 1px solid #cbd5e2;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		text-align: center;
		width: calc(100% / 3);
	}

	.nav-bar div:last-of-type {
		border-right: none;
	}

	.nav-bar a:link,
	.nav-bar a:visited {
		color: #475461;
		display: block;
		line-height: 34px;
		width: 100%;
	}

	.nav-bar a:hover {
		color: #ff7f2a;
	}

	.nav-bar span {
		color: #8aa0b8;
		line-height: 34px;
		text-decoration: line-through;
	}

	.nav-bar,
	.nav-bar div,
	.nav-bar span {
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	.nv-prev:before,
	.nv-next:after,
	.nv-index:before {
		font-family: "sigma-icons";
		line-height: normal;
		position: relative;
	}

	.nv-prev:before {
		content: '\f104';
		font-size: 1.25em;
		padding-right: 8px;
		top: 2px;
	}

	.nv-next:after {
		content: '\f105';
		font-size: 1.25em;
		padding-left: 8px;
		top: 2px;
	}

	.nv-index:before {
		content: '\e901';
		font-size: 0.875em;
		padding-right: 8px;
		top: 1px;
	}

	.main-content {
		padding: 34px 0 8px;
	}

	footer {
		font-size: 1em;
	}

	.bottom-links,
	.copyright {
		min-height: 0;
	}

	.copyright {
		padding: 13px 0;
	}

	.bottom-links .wrap {
		padding: 30px 0;
	}

	.bottom-links li + li::before {
		content: none;
	}

	.bottom-links ul li {
		display: block;
		margin-bottom: 10px;
	}

	.bottom-links ul li:last-of-type {
		margin-bottom: 0;
	}

	.bottom-links ul li a {
		background: #dce3eb;
		display: block;
		line-height: 36px;
		-webkit-transition: color .2s ease-in-out,
			background .2s ease-in-out;
		-moz-transition: color .2s ease-in-out,
			background .2s ease-in-out;
		-ms-transition: color .2s ease-in-out,
			background .2s ease-in-out;
		-o-transition: color .2s ease-in-out,
			background .2s ease-in-out;
		transition: color .2s ease-in-out,
			background .2s ease-in-out;
	}

	.copyright span {
		line-height: 1.75em;
	}
}

/*----------------------------------------------------------*/

@media only screen and (max-width : 768px) {

	.wrap {
		margin: 0 4%;
		width: 92%;
	}
}

/*----------------------------------------------------------*/

@media only screen and (max-width : 480px) {

	.wrap {
		margin: 0 5%;
		width: 90%;
	}

	.navigation {
		left: -100%;
	}

	.navigation.menu-visible {
		height: 100%;
		width: 100%;
	}

	.title-bar {
		display: block;
		height: auto;
	}

	.title-bar .title-info {
		display: block;
		height: auto;
		padding: 15px 0;
		width: 100%;
	}

	.title-bar p {
		text-align: center;
	}

	.title-bar .breadcrumbs {
		margin-top: 10px;
	}

	.title-bar ol,
	.title-bar li {
		display: block;
	}

	.title-bar li {
		background: #fff;
		border: 1px solid #cbd5e2;
		border-bottom: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 0;
		padding: 5px 8px;
		position: relative;
		text-align: center;
	}

	.title-bar li:first-of-type {
		border-radius: 4px 4px 0 0;
	}

	.title-bar li:last-of-type {
		border-bottom: 1px solid #cbd5e2;
		border-radius: 0 0 4px 4px;
	}

	.next-prev {
		padding: 0;
	}

	.next-prev .np-prev,
	.next-prev .np-next {
		float: none;
		margin-right: 0;
		text-align: center;
		width: 100%;
	}

	.social-share a {
		height: 34px;
		line-height: 34px;
		margin-right: 2%;
		min-width: 34px;
		width: calc(92%/5);
	}
}

/*----------------------------------------------------------*/

@media only screen and (max-width : 320px) {

	.wrap {
		margin: 0 6%;
		width: 88%;
	}
}

/*----------------------------------------------------------*/
/* Z. Dark mode
/*----------------------------------------------------------*/

.dark {
	background: #1f2225;
	color: #cacfd6;
}

.dark ins {
	color: #5da517;
}

.dark del {
	color: #ec5252;
}

.dark .top-bar {
	background: #15181a;
	border-bottom: 1px solid #33373c;
}

.dark .top-bar a {
	border-left: 1px solid #33373c;
	color: #778089;
}

.dark .top-bar ul li:last-of-type a {
	border-right: 1px solid #33373c;
}

.dark .menu-bar {
	background: #1f2225;
	-webkit-box-shadow: 0 1px 0 #33373c,
		0 3px 2px -1px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 0 1px 0 #33373c,
		0 3px 2px -1px rgba(0, 0, 0, 0.55);
	box-shadow: 0 1px 0 #33373c,
		0 3px 2px -1px rgba(0, 0, 0, 0.55);
}

.dark .navigation ul li a,
.dark .navigation ul li a:link,
.dark .navigation ul li a:visited {
	color: #cacfd6;
}

.dark .navigation ul li a:hover,
.dark .navigation ul li a.current {
	color: #ff7f2a;
}

.dark .navigation ul li a:before {
	background: #ff7f2a;
}

.dark .navigation ul li ul {
	background: #1f2225;
	border: 1px solid #33373c;
}

.dark .navigation ul li ul li a,
.dark .navigation ul li ul li a:link,
.dark .navigation ul li ul li a:visited {
	border-top: 1px solid #33373c;
}

.dark .navigation ul li ul li:first-of-type a,
.dark .navigation ul li ul li:first-of-type a:link,
.dark .navigation ul li ul li:first-of-type a:visited {
	border-top: unset;
}

.dark .search-nav a,
.dark .search-nav a:link,
.dark .search-nav a:visited {
	color: #cacfd6;
}

.dark .search-nav a:hover {
	color: #ff7f2a;
}

.dark .si-icon-toggle {
	background: #33373c;
}

.dark .si-icon-toggle:before {
	background: #15181a;
	color: #cacfd6;
	content: "\f186";
	transform: translateX(22px);
}

.dark .si-icon-toggle:hover:before {
	color: #ff7f2a;
}

.dark .title-bar {
	background: #15181a;
	border-bottom: 1px solid #33373c;
}

.dark .title-bar .sub-type {
	color: #9ca7b4;
}

.dark .title-bar .breadcrumbs {
	color: #9ca7b4;
}

.dark .title-bar .breadcrumbs a:link,
.dark .title-bar .breadcrumbs a:visited {
	color: #cacfd6;
	text-decoration: underline;
}

.dark .title-bar .breadcrumbs a:hover {
	color: #ff7f2a;
}

.dark .home-title-bar {
	background: #15181a;
	border-bottom: 1px solid #33373c;
}

.dark .home-title-bar span {
	color: #ff7f2a;
}

.dark .home-title-bar a:link,
.dark .home-title-bar a:visited {
	color: #58a6ff;
	text-decoration: underline;
}

.dark .home-title-bar a:hover {
	color: #ff7f2a;
}

.dark .main-content {
	background: #1f2225;
}

.dark .post-meta {
	border-bottom: 1px dashed #5f666f;
	color: #9ca7b4;
}

.dark .post-meta a:link,
.dark .post-meta a:visited {
	color: #9ca7b4;
}

.dark .post-meta a:hover {
	color: #ff7f2a;
}

.dark .post-content h2 {
	border-bottom: 1px dotted #5f666f;
}

.dark .post-content .loop-excerpt h2 {
	border-bottom: none;
	padding-bottom: 0;
}

.dark .post-content a:link,
.dark .post-content a:visited {
	color: #58a6ff;
	text-decoration: underline;
}

.dark .post-content a:hover {
	color: #ff7f2a;
}

.dark .post-content figcaption {
	color: #9ca7b4;
}

.dark .post-content blockquote {
	background: #15181a;
	border-left: 4px solid #5f666f;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.55);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.55);
}

.dark .post-content canvas {
	border: 1px solid #5f666f;
}

.dark .post-content .notice-info,
.dark .post-content .notice-success,
.dark .post-content .notice-warning,
.dark .post-content .notice-danger {
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.55);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.55);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.55);
}

.dark .post-content .notice-info {
	background: #1a3a4e;
	border-top: 2px solid #1b7bbb;
	color: #d3ebfa;
}

.dark .post-content .notice-success {
	background: #273f15;
	border-top: 2px solid #458a14;
	color: #d4f7ba;
}

.dark .post-content .notice-warning {
	background: #3e3415;
	border-top: 2px solid #846713;
	color: #f7e7b8;
}

.dark .post-content .notice-danger {
	background: #602020;
	border-top: 2px solid #e23232;
	color: #fad1d1;
}

.dark .post-content p > code,
.dark .post-content td > code,
.dark .post-content th > code,
.dark .post-content li > code {
	background: #15181a;
	border: 1px solid #33373c;
	color: #fb6f92;
}

.dark .post-content .highlight {
	border: 1px solid #33373c;
}

.dark .post-content .highlight > .highlight {
	border: none;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

.dark .post-content .lineno {
	border-right: 1px solid #33373c;
}

.dark .post-content > table thead {
	background: #15181a;
}

.dark .post-content > table th,
.dark .post-content > table td {
	border: 1px solid #33373c;
}

.dark .post-content > table tfoot {
	background: #15181a;
}

.dark .post-content kbd {
	background: #15181a;
	border: 1px solid #33373c;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.55),
		inset 0 2px 0 0 rgba(44,44,44,.7);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.55),
		inset 0 2px 0 0 rgba(44,44,44,.7);
	box-shadow: 0 1px 1px rgba(0,0,0,.55),
		inset 0 2px 0 0 rgba(44,44,44,.7);
	color: #cacfd6;
}

.dark .post-content hr {
	border-bottom: 1px dashed #5f666f;
}

.dark .post-content a.btn:link,
.dark .post-content a.btn:visited {
	text-decoration: none;
}

.dark .sidenav {
	background: #15181a;
	border: 1px solid #33373c;
}

.dark .sidenav ul li ul li:before {
	color: #cacfd6;
}

.dark .sidenav a,
.dark .sidenav a:link,
.dark .sidenav a:visited {
	color: #cacfd6;
}

.dark .sidenav a:hover {
	background: #1f2225;
}

.dark .sidenav a.current {
	background: #1f2225;
}

.dark .social-share a:link,
.dark .social-share a:visited {
	color: #eef1f4;
}

.dark .social-share a:hover {
	background: #15181a;
	color: #eef1f4;
}

.dark .loop-excerpt {
	border-bottom: 1px dashed #5f666f;
}

.dark .loop-excerpt:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
}

.dark .loop-excerpt a:link,
.dark .loop-excerpt a:visited {
	text-decoration: none;
}

.dark .next-prev {
	border-bottom: 1px dashed #5f666f;
	border-top: 1px dashed #5f666f;
}

.dark .next-prev a:link,
.dark .next-prev a:visited {
	color: #58a6ff;
}

.dark .next-prev a:hover {
	color: #ff7f2a;
}

.dark footer {
	background: #1f2225;
	border-top: 8px solid #33373c;
	color: #cacfd6;
}

.dark footer a {
	color: #cacfd6;
}

.dark .bottom-links .wrap,
.dark .footer-icons .wrap {
	border-bottom: 1px solid #000;
	-webkit-box-shadow: 0 1px 0 #33373c;
	-moz-box-shadow: 0 1px 0 #33373c;
	box-shadow: 0 1px 0 #33373c;
}

.dark .search-input {
	background: #15181a;
	border: 1px solid #33373c;
	color: #cacfd6;
}

.dark .search-input:focus {
	border: 1px solid #ff7f2a;
}

.dark .search-button {
	background: #33373c;
	border: 1px solid #33373c;
	border-left: none;
	color: #cacfd6;
}

.dark .search-button:hover {
	color: #ff7f2a;
}

.dark .post-content .searchresult a.title:link,
.dark .post-content .searchresult a.title:visited {
	color: #58a6ff;
}

.dark .post-content .searchresult a.url:link,
.dark .post-content .searchresult a.url:visited {
	color: lightgreen;
}

.dark .post-content .searchresult a.title:hover,
.dark .post-content .searchresult a.url:hover {
	color: #ff7f2a;
}

@media only screen and (max-width : 1024px) {

	.dark .button-nav {
		background: #1f2225;
		border: 1px solid #33373c;
		-webkit-box-shadow: inset 0 -12px 10px -3px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: inset 0 -12px 10px -3px rgba(0, 0, 0, 0.15);
		box-shadow: inset 0 -12px 10px -3px rgba(0, 0, 0, 0.15);
	}

	.dark .button-nav:hover {
		background: #15181a;
	}

	.dark .button-nav:before {
		color: #cacfd6;
	}

	.dark .navigation {
		background: #1f2225;
		-webkit-box-shadow: 2px 0 2px -1px rgba(0,0,0,0.55);
		-moz-box-shadow: 2px 0 2px -1px rgba(0,0,0,0.55);
		box-shadow: 2px 1px 0 -1px rgba(0,0,0,0.55);
	}

	.dark .navigation.menu-visible ul li a {
		background: #15181a;
		border-left: 2px solid #33373c;
	}

	.dark .navigation.menu-visible ul li a:link,
	.dark .navigation.menu-visible ul li a:visited {
		color: #cacfd6;
	}

	.dark .navigation.menu-visible ul li a:hover {
		color: #ff7f2a;
	}

	.dark .navigation.menu-visible ul li a.current {
		border-left-color: #ff7f2a;
		color: #ff7f2a;
	}

	.dark .navigation.menu-visible ul li ul {
		border: unset;
	}

	.dark .navigation.menu-visible ul li ul li:before {
		color: #cacfd6;
	}

	.dark .navigation.menu-visible ul li ul li a,
	.dark .navigation.menu-visible ul li ul li a:link,
	.dark .navigation.menu-visible ul li ul li a:visited {
		border-top: unset;
	}

	.dark .search-nav a,
	.dark .search-nav a:link,
	.dark .search-nav a:visited,
	.dark .toggle-nav a,
	.dark .toggle-nav a:link,
	.dark .toggle-nav a:visited,
	.dark .close-nav {
		background: #33373c;
	}

	.dark .close-nav {
		color: #cacfd6;
	}

	.dark .close-nav:hover {
		color: #ff7f2a;
	}

	.dark .nav-bar {
		background: #1f2225;
		border-bottom: 1px solid #33373c;
	}

	.dark .nav-bar div {
		border-right: 1px solid #33373c;
	}

	.dark .nav-bar div:last-of-type {
		border-right: none;
	}

	.dark .nav-bar a:link,
	.dark .nav-bar a:visited {
		color: #cacfd6;
	}

	.dark .nav-bar a:hover {
		color: #ff7f2a;
	}

	.dark .nav-bar span {
		color: #5f666f;
	}

	.dark .bottom-links ul li a {
		background: #15181a;
	}
}

@media only screen and (max-width : 480px) {

	.dark .title-bar li {
		background: #1f2225;
		border: 1px solid #33373c;
		border-bottom: none;
	}

	.dark .title-bar li:last-of-type {
		border-bottom: 1px solid #33373c;
	}
}

@media (hover: hover) and (pointer: fine) {

	a:hover {
		color: #ff7f2a;
	}
	.top-bar a:hover {
		color: #ff7f2a;
	}
	.scrollup:hover {
		background: #ff7f2a;
	}
	.dark a:hover {
		color: #ff7f2a;
	}
	.dark .top-bar a:hover {
		color: #ff7f2a;
	}
}
