@charset "utf-8";

@font-face {
	font-display: swap;
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/oswald-v29-latin-regular.eot');
	src: url('/assets/fonts/oswald-v29-latin-regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/oswald-v29-latin-regular.woff2') format('woff2'),
		url('/assets/fonts/oswald-v29-latin-regular.woff') format('woff'),
		url('/assets/fonts/oswald-v29-latin-regular.ttf') format('truetype'),
		url('/assets/fonts/oswald-v29-latin-regular.svg#Oswald') format('svg');
}

@font-face {
	font-display: swap;
	font-family: 'sigma-icons';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/sigma-icons.eot');
	src: url('/assets/fonts/sigma-icons.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/sigma-icons.woff2') format('woff2'),
		url('/assets/fonts/sigma-icons.woff') format('woff'),
		url('/assets/fonts/sigma-icons.ttf') format('truetype'),
		url('/assets/fonts/sigma-icons.svg#sigma-icons') format('svg');
}

/*----------------------------------------------------------*/
/* 1. CSS Reset
/*----------------------------------------------------------*/

article,
aside,
details,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
pre,
figure,
section {
	display: block;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
}

html,
body,
div,
th,
td,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
label,
p,
figure,
fieldset,
input,
blockquote {
	direction: ltr;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	display: block;
	overflow-x: auto;
}

fieldset,
img {
	border: 0;
}

ol,
ul,
li {
	list-style: none;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

a img {
	border: none;
}

a {
	text-decoration: none;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

a:focus {
	outline: 0;
	text-decoration: none;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	-moz-appearance: button;
	cursor: pointer;
}

select:focus {
	outline: none;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.no-transition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

/*----------------------------------------------------------*/
/* 2. Layout
/*----------------------------------------------------------*/

body {
	background: #fff;
	color: #303336;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.5em;
	overflow-wrap: break-word;
	text-transform: none;
	word-break: keep-all;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

img {
	height: auto;
	max-width: 100%;
}

.wrap {
	margin: 0 auto;
	width: 956px;
}

.sidebar-right .post {
	float: left;
	height: 100%;
	position: relative;
	width: 601px;
}

.sidebar-left .post {
	float: right;
	height: 100%;
	position: relative;
	width: 601px;
}

.sidebar {
	position: relative;
	width: 300px;
}

.sidebar-right .sidebar {
	float: right;
}

.sidebar-left .sidebar {
	float: left;
}

.sidebar-sticky {
	margin-bottom: 1.625em;
	position: sticky;
	position: -webkit-sticky;
	top: 76px;
}

.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	height: 0;
	line-height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	visibility: hidden;
	width: 0;
}

a:hover {
	color: #f17e01;
}

.si-icon-sitemap:before {
	content: "\f0e8";
	font-family: "sigma-icons";
}

.si-icon-twitter:before {
	content: "\f099";
	font-family: "sigma-icons";
}

.si-icon-facebook:before {
	content: "\f09a";
	font-family: "sigma-icons";
}

.si-icon-linkedin:before {
	content: "\f0e1";
	font-family: "sigma-icons";
}

.si-icon-pinterest:before {
	content: "\f231";
	font-family: "sigma-icons";
}

.si-icon-instagram:before {
	content: "\f16d";
	font-family: "sigma-icons";
}

.si-icon-github:before {
	content: "\f09b";
	font-family: "sigma-icons";
}

.si-icon-youtube:before {
	content: "\f167";
	font-family: "sigma-icons";
}

.si-icon-whatsapp:before {
	content: "\f232";
	font-family: "sigma-icons";
}

.si-icon-email:before {
	content: "\f003";
	font-family: "sigma-icons";
}

.si-icon-rss:before {
	content: "\f09e";
	font-family: "sigma-icons";
}

.si-icon-search:before {
	content: "\f002";
	font-family: "sigma-icons";
}

.si-icon-adjust:before {
	content: "\f042";
	font-family: "sigma-icons";
}

.si-icon-toggle:before {
	content: "\f186";
	font-family: "sigma-icons";
}

.dark .si-icon-toggle:before {
	content: "\f185";
	font-family: "sigma-icons";
}

.si-icon-toggle {
	cursor: pointer;
}

/*----------------------------------------------------------*/
/* 3. Header (top bar)
/*----------------------------------------------------------*/

header {
	border-top: 5px solid #505356;
}

.top-bar {
	background: #f3f5f8;
	border-bottom: 1px solid #dcdcdc;
	display: block;
	height: 34px;
	overflow: hidden;
	position: relative;
	text-align: right;
}

.top-bar ul {
	float: right;
}

.top-bar ul li {
	float: left;
}

.top-bar ul li:last-of-type {
	margin-right: -12px;
}

.top-bar a {
	border-left: 1px solid #dcdcdc;
	color: #808386;
	display: inline-block;
	font-size: 1em;
	line-height: 34px;
	text-align: center;
	width: 34px;
}

.top-bar ul li:first-of-type a {
	border-left: none;
}

.top-bar a:hover {
	color: #f17e01;
}

/*----------------------------------------------------------*/
/* 4. Header (menu bar)
/*----------------------------------------------------------*/

.menu-bar {
	background: #fff;
	-webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.34);
	-moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.34);
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.34);
	display: block;
	height: 55px;
	overflow: hidden;
	position: relative;
}

.fixed-menu {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

section {
	padding-top: 0;
}

.fixed-menu + .title-bar {
	padding-top: 55px;
}

.fixed-menu + .home-title-bar {
	padding-top: 110px;
}

.logo {
	display: inline-block;
	height: 55px;
	line-height: 55px;
	max-width: 300px;
	vertical-align: top;
}

.logo img {
	display: inline-block;
	vertical-align: middle;
}

.navigation {
	float: right;
	font-size: 0.875em;
	position: relative;
}

.navigation select,
.navigation .icon-select {
	display: none;
}

.navigation ul {
	display: block;
}

.navigation ul li {
	display: inline-block;
	margin-left: 21px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

.navigation ul li:first-of-type {
	margin-left: 0;
}

.navigation ul li:before {
	background: #f17e01;
	bottom: 0;
	content: "";
	height: 2px;
	left: 51%;
	position: absolute;
	right: 51%;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-property: right,left;
	transition-property: right,left;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	z-index: -1;
}

.navigation ul li:hover:before,
.navigation ul li.current:before {
	left: 0;
	right: 0;
}

.navigation ul li a {
	display: inline-block;
	line-height: 55px;
}

.navigation ul li a:link,
.navigation ul li a:visited {
	color: #303336;
}

.navigation ul li a:hover,
.navigation ul li.current a {
	color: #f17e01;
}

/*----------------------------------------------------------*/
/* 5. Title bar
/*----------------------------------------------------------*/

.title-bar {
	background: #f3f5f8;
	border-bottom: 1px solid #dcdcdc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: table;
	height: 89px;
	table-layout: fixed;
	width: 100%;
}

.title-bar p {
	margin: 0;
}

.title-bar .title-info {
	display: table-cell;
	height: 89px;
	vertical-align: middle;
}

.title-bar .type {
	font-weight: bold;
}

.title-bar .sub-type {
	color: #505356;
	font-style: italic;
}

.title-bar ol,
.title-bar li {
	display: inline-block;
}

.title-bar .breadcrumbs {
	color: #505356;
	font-size: 0.813em;
	line-height: normal;
	margin-top: 3px;
}

.title-bar .breadcrumbs a:link,
.title-bar .breadcrumbs a:visited {
	color: #303336;
	text-decoration: underline;
}

.title-bar .breadcrumbs a:hover {
	color: #f17e01;
}

.top-bar,
.menu-bar,
.title-bar {
	clear: both;
}

/* --- */

.home-title-bar {
	background: #f3f5f8;
	border-bottom: 1px solid #dcdcdc;
	display: block;
	max-width: 100%;
	padding: 55px 0;
	text-align: center;
}

.home-title-bar h1 {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 2em;
	margin-bottom: 0;
}

.home-title-bar p {
	font-size: 18px;
	margin-top: 1.625em;
}

.home-title-bar span {
	color: #f17e01;
	font-weight: bold;
}

.home-title-bar a:link,
.home-title-bar a:visited {
	color: #095cae;
	text-decoration: underline;
}

.home-title-bar a:hover {
	color: #f17e01;
}

/*----------------------------------------------------------*/
/* 6. Main content
/*----------------------------------------------------------*/

.main-content {
	background: #fff;
	padding: 55px 0 29px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Oswald",Arial,Helvetica,sans-serif;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 15px;
}

h1 {
	font-size: 1.625em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1.1em;
}

.main-content p,
.main-content ul,
.main-content ol,
.main-content dl,
.main-content hr,
.main-content abbr,
.main-content iframe,
.main-content figure,
.main-content address,
.main-content figcaption,
.main-content blockquote,
.main-content .highlight,
.main-content .social-share,
.main-content .next-prev,
.post-content,
.post-content .notice,
.post-content .notice-info,
.post-content .notice-success,
.post-content .notice-warning,
.post-content .notice-danger,
.post-content .align-right,
.post-content .align-left,
.loop-excerpt,
.loop-excerpt div,
.post .adsbygoogle {
	margin-bottom: 1.625em;
}

.main-content ul li > ul,
.main-content ol li > ol,
.main-content ul li > ol,
.main-content ol li > ul {
	margin: 8px 0;
}

.main-content ul li {
	list-style: disc;
}

.main-content ul li > ul li {
	list-style: circle;
}

.main-content ul li > ul li > ul li {
	list-style: square;
}

.main-content ol li {
	list-style: decimal;
}

.main-content ul,
.main-content ol {
	padding-left: 30px;
}

/*----------------------------------------------------------*/
/* 7. Post content
/*----------------------------------------------------------*/

.post-title {
	line-height: 1.2em;
	margin-top: -5px;
}

.post-meta {
	border-bottom: 1px dashed #b3b5b8;
	color: #505356;
	display: block;
	padding-bottom: 15px;
}

.post-meta a:link,
.post-meta a:visited {
	color: #505356;
	text-decoration: underline;
}

.post-meta a:hover {
	color: #f17e01;
}

.post-content h2 {
	border-bottom: 1px dotted #b3b5b8;
	padding-bottom: 15px;
}

.post-content .loop-excerpt h2 {
	border-bottom: none;
	padding-bottom: 0;
}

.post-content a:link,
.post-content a:visited {
	color: #095cae;
	text-decoration: underline;
}

.post-content a:hover {
	color: #f17e01;
}

.post-content img {
	display: block;
}

.post-content .align-center,
.post-content figure.align-center img {
	margin-left: auto;
	margin-right: auto;
}

.post-content figure figcaption {
	text-align: center;
}

.post-content .align-left {
	float: left;
	padding: 5px 1.625em 5px 0;
}

.post-content .align-right {
	float: right;
	padding: 5px 0 5px 1.625em;
}

.post-content figure.align-center,
.post-content figure.align-left,
.post-content figure.align-right {
	margin-bottom: 0;
}

.post-content figcaption {
	color: #505356;
	font-size: 0.875em;
	font-style: italic;
	margin-top: 5px;
}

.post-content .half > a,
.post-content .half > img {
	float: left;
	margin-right: 2%;
	width: 49%;
}

.post-content .third > a,
.post-content .third > img {
	float: left;
	margin-right: 2%;
	width: 32%;
}

.post-content .quarter > a,
.post-content .quarter > img {
	float: left;
	margin-right: 2%;
	width: 23.5%;
}

.post-content .fifth > a,
.post-content .fifth > img {
	float: left;
	margin-right: 2%;
	width: 18.4%;
}

.post-content .sixth > a,
.post-content .sixth > img {
	float: left;
	margin-right: 2%;
	width: 15%;
}

.post-content .half > a:last-of-type,
.post-content .half > img:last-of-type,
.post-content .third > a:last-of-type,
.post-content .third > img:last-of-type,
.post-content .quarter > a:last-of-type,
.post-content .quarter > img:last-of-type,
.post-content .fifth > a:last-of-type,
.post-content .fifth > img:last-of-type,
.post-content .sixth > a:last-of-type,
.post-content .sixth > img:last-of-type {
	float: right;
	margin-right: 0;
}

.post-content .half figcaption,
.post-content .third figcaption {
	margin-bottom: 0;
}

.post-content blockquote {
	background: #f3f5f8;
	border-left: 4px solid #697076;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
	padding: 10px 15px;
}

.post-content blockquote p {
	margin: 0;
}

.post-content blockquote p + blockquote {
	margin: 15px 0 0;
}

.post-content .notice,
.post-content .notice-info,
.post-content .notice-success,
.post-content .notice-warning,
.post-content .notice-danger {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	padding: 10px 15px;
}

.post-content .notice {
	background: #f3f5f8;
}

.post-content .notice-info {
	background: #ebf5f8;
}

.post-content .notice-success {
	background: #ecf6ec;
}

.post-content .notice-warning {
	background: #fbf2e6;
}

.post-content .notice-danger {
	background: #fdefef;
}

.post-content .notice ul:last-of-type,
.post-content .notice ol:last-of-type,
.post-content .notice p:last-of-type,
.post-content .notice-info ul:last-of-type,
.post-content .notice-info ul:last-of-type,
.post-content .notice-info ul:last-of-type,
.post-content .notice-success ul:last-of-type,
.post-content .notice-success ol:last-of-type,
.post-content .notice-success p:last-of-type,
.post-content .notice-warning ol:last-of-type,
.post-content .notice-warning p:last-of-type,
.post-content .notice-warning ol:last-of-type,
.post-content .notice-danger p:last-of-type,
.post-content .notice-danger ol:last-of-type,
.post-content .notice-danger p:last-of-type {
	margin-bottom: 0;
}

.post-content p > code,
.post-content li > code {
	background: #f3f5f8;
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #d01040;
	font-family: monospace;
	font-size: 1.1em;
	margin: 0 2px;
	padding: 1px 5px;
}

.post-content .highlight {
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 1.15em;
	line-height: normal;
	overflow: auto;
	padding: 15px;
}

/* Workaround to fix double class */
.post-content .highlight > .highlight {
	border: none;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

.post-content .lineno {
	border-right: 1px solid #dcdcdc;
	margin-right: 15px;
	padding-right: 14px;
}

.post-content > table {
	margin-bottom: 1.625em;
	width: 100%;
}

.post-content > table thead {
	background: #f3f5f8;
	font-weight: bold;
	text-align: left;
}

.post-content > table th,
.post-content > table td {
	border: 1px solid #697076;
	padding: 3px 8px;
	word-break: normal;
}

.post-content > table tfoot {
	background: #f3f5f8;
	font-weight: bold;
}

.post-content sup,
.post-content sub {
	font-size: 0.875em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

.post-content sup {
	top: -0.4em;
}

.post-content sub {
	bottom: -0.2em;
}

.post-content kbd {
	background: #f3f5f8;
	border: 1px solid #b4b4b4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2),
		inset 0 2px 0 0 rgba(255,255,255,.7);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.2),
		inset 0 2px 0 0 rgba(255,255,255,.7);
	box-shadow: 0 1px 1px rgba(0,0,0,.2),
		inset 0 2px 0 0 rgba(255,255,255,.7);
	color: #404346;
	font-size: 1.1em;
	margin: 0 2px;
	padding: 1px 5px;
}

.post-content > pre {
	margin-bottom: 1.625em;
	overflow: auto;
}

.post-content hr {
	border: 0;
	border-bottom: 1px dashed #b3b5b8;
	margin-top: 0;
}

.post-content dd {
	margin: 0 0 8px 30px;
}

.post-content .btn {
	background-color: #789;
	border-radius: 4px;
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
	color: #fff !important;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: 0.5em 1em;
	text-align: center;
	text-shadow: 1px 1px rgba(0,0,0,0.34);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	vertical-align: bottom;
}

.post-content a.btn:link,
.post-content a.btn:visited {
	text-decoration: none;
}

.post-content .btn-success {
	background-color: #62c462;
}

.post-content .btn-warning {
	background-color: #f89406;
}

.post-content .btn-danger {
	background-color: #ee5f5b;
}

.post-content .btn-info {
	background-color: #52adc8;
}

.post-content .btn-inverse {
	background-color: #fff;
	-webkit-box-shadow: inset 0 0 0 1px #789;
	-moz-box-shadow: inset 0 0 0 1px #789;
	box-shadow: inset 0 0 0 1px #789;
	color: #303336 !important;
}

.post-content .btn:hover {
	background-color: #303336;
}

.post-content .btn-success:hover {
	background-color: #4e9d4e;
}

.post-content .btn-warning:hover {
	background-color: #c67605;
}

.post-content .btn-danger:hover {
	background-color: #be4c49;
}

.post-content .btn-info:hover {
	background-color: #428aa0;
}

.post-content .btn-inverse:hover {
	background-color: #303336;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #fff !important;
}

.post-content .btn-small {
	font-size: 0.875em;
}

.post-content .btn-large {
	font-size: 1.125em;
}

.post-content .btn-x-large {
	font-size: 1.25em;
}

/*----------------------------------------------------------*/
/* 8. Side menu navigation
/*----------------------------------------------------------*/

.sidenav {
	background: #f3f5f8;
	border: 1px solid #dcdcdc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 1.625em;
	padding: 13px;
}

.sidenav h3 {
	margin-left: 8px;
}

.sidenav ul {
	margin: 0;
	padding: 0;
}

.sidenav ul li {
	border-bottom: 1px solid #dcdcdc;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	-ms-transition: background .2s ease-in-out;
	-o-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
}

.sidenav ul li:last-of-type {
	border-bottom: none;
}

.sidenav ul li:hover {
	background: #e3e5e8;
}

.sidenav ul li a:link,
.sidenav ul li a:visited {
	color: #303336;
	display: block;
	line-height: normal;
	padding: 8px;
}

.sidenav ul li.current {
	background: #dcdcdc;
}

/*----------------------------------------------------------*/
/* 9. Social share buttons
/*----------------------------------------------------------*/

.social-share h4 {
	width: 100%;
}

.social-share a {
	background: #fff;
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	height: 33px;
	line-height: 32px;
	margin-right: 2%;
	text-align: center;
	width: calc(92%/5);
}

.social-share a:link,
.social-share a:visited {
	background: #fff;
	border-color: #dcdcdc;
	-webkit-box-shadow: inset 0 -12px 10px -3px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 -12px 10px -3px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 -12px 10px -3px rgba(0, 0, 0, 0.05);
	-webkit-transition: background .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
}

.social-share a:last-of-type {
	margin-right: 0;
}

.social-share a:before {
	font-size: 1em;
}

.social-share a span {
	display: none;
	visibility: hidden;
}

.social-share .si-icon-twitter:hover,
.social-share .si-icon-facebook:hover,
.social-share .si-icon-linkedin:hover,
.social-share .si-icon-pinterest:hover,
.social-share .si-icon-email:hover {
	background: #f3f5f8;
	border-color: #697076;
	color: #303336;
}

.social-share .si-icon-twitter {
	color: #55acee;
}

.social-share .si-icon-facebook {
	color: #3b5998;
}

.social-share .si-icon-linkedin {
	color: #0976b4;
}

.social-share .si-icon-pinterest {
	color: #bb312b;
}

.social-share .si-icon-email {
	color: #449a88;
}

/*----------------------------------------------------------*/
/* 10. Category page
/*----------------------------------------------------------*/

.loop-excerpt {
	border-bottom: 1px dashed #b3b5b8;
}

.loop-excerpt:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
}

.loop-excerpt a:link,
.loop-excerpt a:visited {
	text-decoration: none;
}

/*----------------------------------------------------------*/
/* 11. Next/prev buttons
/*----------------------------------------------------------*/

.next-prev {
	border-bottom: 1px dashed #b3b5b8;
	border-top: 1px dashed #b3b5b8;
	display: block;
	padding: 15px 0;
}

.next-prev .np-prev {
	float: left;
	margin-right: 2%;
	text-align: left;
	width: 49%;
}

.next-prev .np-next {
	float: right;
	margin-right: 0;
	text-align: right;
	width: 49%;
}

.next-prev a:link,
.next-prev a:visited {
	color: #095cae;
	text-decoration: underline;
}

.next-prev a:hover {
	color: #f17e01;
}

/*----------------------------------------------------------*/
/* X. Footer
/*----------------------------------------------------------*/

footer {
	background: #242628;
	border-top: 8px solid #b3b5b8;
	color: #bcbfc2;
	font-size: 0.875em;
	overflow: hidden;
	text-align: center;
}

footer a {
	color: #bcbfc2;
}

.bottom-links {
	border-bottom: 1px solid #000;
	-webkit-box-shadow: 0 1px 0 #393939;
	-moz-box-shadow: 0 1px 0 #393939;
	box-shadow: 0 1px 0 #393939;
	min-height: 55px;
}

.bottom-links ul li {
	display: inline-block;
	line-height: 55px;
}

.bottom-links li + li::before {
	content: "|";
	display: inline-block;
	margin: 0 8px;
}

.copyright {
	min-height: 55px;
}

.copyright span {
	line-height: 55px;
}

/*----------------------------------------------------------*/
/* Y. Scroll up
/*----------------------------------------------------------*/

.scrollup {
	background: rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	bottom: 10px;
	cursor: pointer;
	height: 34px;
	opacity: 0;
	position: fixed;
	right: 10px;
	text-align: center;
	-webkit-transition: background .3s ease-out, opacity .3s, visibility .3s;
	-moz-transition: background .3s ease-out, opacity .3s, visibility .3s;
	-o-transition: background .3s ease-out, opacity .3s, visibility .3s;
	transition: background .3s ease-out, opacity .3s, visibility .3s;
	visibility: hidden;
	width: 34px;
	z-index: 9985;
}

.scrollup.is-visible {
	opacity: 1;
	visibility: visible;
}

.scrollup:before {
	color: #fff;
	content: "\f106";
	display: inline-block;
	font: 25px "sigma-icons";
	line-height: 1;
	opacity: 1;
	padding-top: 4px;
}

.scrollup:hover {
	background: #f17e01;
}

/*----------------------------------------------------------*/
/* Z. Responsive
/*----------------------------------------------------------*/

@media only screen and (max-width : 1024px) {

	body {
		width: 100%;
	}

	.wrap {
		margin: 0 3%;
		width: 94%;
	}

	.logo {
		max-width: 250px;
	}

	.sidebar-right .post,
	.sidebar-left .post,
	.sidebar {
		float: none;
		width: 100%;
	}

	.navigation select {
		-webkit-appearance: button;
		-moz-appearance: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-padding-end: 20px;
		-moz-padding-end: 20px;
		-webkit-padding-start: 2px;
		-moz-padding-start: 2px;
		background: #fff;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		border: 1px solid #dcdcdc;
		-webkit-box-shadow: inset 0 -12px 10px -3px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 -12px 10px -3px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 -12px 10px -3px rgba(0, 0, 0, 0.05);
		cursor: pointer;
		display: block;
		height: 35px;
		margin-top: 10px;
		overflow: hidden;
		padding: 4px 8px;
		text-indent: 0.01px;
		text-overflow: ellipsis;
		-webkit-transition: background .2s ease-in-out, border-color .2s ease-in-out;
		-moz-transition: background .2s ease-in-out, border-color .2s ease-in-out;
		-ms-transition: background .2s ease-in-out, border-color .2s ease-in-out;
		-o-transition: background .2s ease-in-out, border-color .2s ease-in-out;
		transition: background .2s ease-in-out, border-color .2s ease-in-out;
		width: 180px;
	}

	.navigation select:hover {
		background: #f3f5f8;
		border-color: #697076;
	}

	.navigation select::-ms-expand {
		display: none;
	}

	.navigation select option {
		background: #fff;
		color: #303336;
	}

	.navigation .menu-selected {
		display: none;
		visibility: hidden;
	}

	.navigation .icon-select {
		display: block;
	}

	.navigation .icon-select.not-visible {
		display: none;
	}

	.navigation .icon-select:before {
		content: "\f0c9";
		font: 14px "sigma-icons";
		left: 11px;
		line-height: 35px;
		pointer-events: none;
		position: absolute;
		top: 10px;
	}

	.navigation .icon-select:after {
		content: "MENU";
		font: 13px Arial, Helvetica, sans-serif;
		left: 32px;
		line-height: 35px;
		pointer-events: none;
		position: absolute;
		top: 10px;
	}

	.navigation ul {
		display: none;
	}

	.title-bar {
		min-height: 89px;
	}

	.bottom-links,
	.copyright {
		min-height: 0;
		padding: 13px 0;
	}

	.bottom-links ul li {
		display: block;
		line-height: 1.75em;
	}

	.bottom-links li + li::before {
		content: none;
	}

	.copyright span {
		line-height: 1.75em;
	}
}

/*----------------------------------------------------------*/

@media only screen and (max-width : 768px) {

	.wrap {
		margin: 0 4%;
		width: 92%;
	}

	.logo {
		max-width: 200px;
	}

	.next-prev .np-prev {
		float: none;
		margin-right: 0;
		text-align: left;
		width: 100%;
	}

	.next-prev .np-next {
		float: none;
		margin-right: 0;
		text-align: left;
		width: 100%;
	}

	.next-prev div:nth-child(2) {
		padding-top: 20px;
	}
}

/*----------------------------------------------------------*/

@media only screen and (max-width : 480px) {

	.wrap {
		margin: 0 5%;
		width: 90%;
	}

	.logo {
		height: initial;
		line-height: 0;
	}

	.logo img {
		display: none;
	}

	.logo a {
		background: #fff;
		border: 1px solid #dcdcdc;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		-webkit-box-shadow: inset 0 -12px 10px -3px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 -12px 10px -3px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 -12px 10px -3px rgba(0, 0, 0, 0.05);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		color: #303336;
		display: inline-block;
		height: 35px;
		margin-top: 10px;
		-webkit-transition: background .2s ease-in-out, border-color .2s ease-in-out;
		-moz-transition: background .2s ease-in-out, border-color .2s ease-in-out;
		-ms-transition: background .2s ease-in-out, border-color .2s ease-in-out;
		-o-transition: background .2s ease-in-out, border-color .2s ease-in-out;
		transition: background .2s ease-in-out, border-color .2s ease-in-out;
		width: 35px;
	}

	.logo a:hover {
		background: #f3f5f8;
		border-color: #697076;
	}

	.logo a:before {
		content: "\f015";
		display: block;
		font-family: "sigma-icons";
		line-height: 33px;
		position: absolute;
		text-align: center;
		width: 33px;
	}

	.navigation select {
		width: 150px;
	}

	.title-bar {
		display: block;
		height: auto;
		padding: 15px 0;
	}

	.title-bar .title-info {
		display: block;
		height: auto;
		width: 100%;
	}

	.title-bar p {
		text-align: center;
	}

	.title-bar .breadcrumbs .sep {
		display: none;
	}

	.title-bar .breadcrumbs ol li {
		display: list-item;
		list-style-type: decimal;
		margin-left: 15px;
	}

	.title-bar ol,
	.title-bar li {
		display: block;
	}

	.title-bar li {
		background: #fff;
		border: 1px solid #dcdcdc;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 5px;
		padding: 5px 8px;
	}

	.title-bar li:last-of-type {
		margin-bottom: 0;
	}

	.title-bar .breadcrumbs {
		margin-top: 10px;
	}

	.social-share a {
		display: block;
		margin-bottom: 8px;
		text-align: left;
		width: 100%;
	}

	.social-share a:before {
		background: rgba(0,0,0,0.1);
		display: inline-block;
		text-align: center;
		width: 54px;
	}

	.social-share a:last-of-type {
		margin-bottom: 0;
	}

	.social-share a span {
		display: inline-block;
		margin-left: 15px;
		visibility: visible;
	}
}

/*----------------------------------------------------------*/

@media only screen and (max-width : 320px) {

	.wrap {
		margin: 0 6%;
		width: 88%;
	}

	.navigation select {
		width: 35px;
	}

	.navigation .icon-select:after {
		display: none;
	}
}

/*----------------------------------------------------------*/
/* Y. Dark mode
/*----------------------------------------------------------*/

.dark {
	background: #242628;
	color: #bcbfc2;
}

.dark a:hover {
	color: #f17e01;
}

.dark header {
	border-top: 5px solid #343638;
}

.dark .top-bar {
	background: #141618;
	border-bottom: 1px solid #343638;
}

.dark .top-bar a {
	border-left: 1px solid #343638;
	color: #848688;
}

.dark .top-bar a:hover {
	color: #f17e01;
}

.dark .menu-bar {
	background: #242628;
	-webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.34);
	-moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.34);
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.55);
}

.dark .navigation ul li:before {
	background: #f17e01;
}

.dark .navigation ul li a:link,
.dark .navigation ul li a:visited {
	color: #bcbfc2;
}

.dark .navigation ul li a:hover,
.dark .navigation ul li.current a {
	color: #f17e01;
}

.dark .title-bar {
	background: #141618;
	border-bottom: 1px solid #343638;
}

.dark .title-bar .sub-type {
	color: #848688;
}

.dark .title-bar .breadcrumbs {
	color: #848688;
}

.dark .title-bar .breadcrumbs a:link,
.dark .title-bar .breadcrumbs a:visited {
	color: #bcbfc2;
	text-decoration: underline;
}

.dark .title-bar .breadcrumbs a:hover {
	color: #f17e01;
}

.dark .home-title-bar {
	background: #141618;
	border-bottom: 1px solid #343638;
}

.dark .home-title-bar span {
	color: #f17e01;
}

.dark .home-title-bar a:link,
.dark .home-title-bar a:visited {
	color: #58a6ff;
	text-decoration: underline;
}

.dark .home-title-bar a:hover {
	color: #f17e01;
}

.dark .main-content {
	background: #242628;
}

.dark .post-meta {
	border-bottom: 1px dashed #545658;
	color: #848688;
}

.dark .post-meta a:link,
.dark .post-meta a:visited {
	color: #848688;
}

.dark .post-meta a:hover {
	color: #f17e01;
}

.dark .post-content h2 {
	border-bottom: 1px dotted #545658;
}

.dark .post-content .loop-excerpt h2 {
	border-bottom: none;
	padding-bottom: 0;
}

.dark .post-content a:link,
.dark .post-content a:visited {
	color: #58a6ff;
	text-decoration: underline;
}

.dark .post-content a:hover {
	color: #f17e01;
}

.dark .post-content figcaption {
	color: #848688;
}

.dark .post-content blockquote {
	background: #141618;
	border-left: 4px solid #848688;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.55);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.55);
}

.dark .post-content .notice,
.dark .post-content .notice-info,
.dark .post-content .notice-success,
.dark .post-content .notice-warning,
.dark .post-content .notice-danger {
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.55);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.55);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.55);
}

.dark .post-content .notice {
	background: #141618;
}

.dark .post-content .notice-info {
	background: #203d46;
}

.dark .post-content .notice-success {
	background: #204629;
}

.dark .post-content .notice-warning {
	background: #463f20;
}

.dark .post-content .notice-danger {
	background: #462020;
}

.dark .post-content p > code,
.dark .post-content li > code {
	background: #141618;
	border: 1px solid #343638;
	color: #d56777;
}

.dark .post-content .highlight {
	border: 1px solid #343638;
}

.dark .post-content .highlight > .highlight {
	border: none;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

.dark .post-content .lineno {
	border-right: 1px solid #343638;
}

.dark .post-content > table thead {
	background: #141618;
}

.dark .post-content > table th,
.dark .post-content > table td {
	border: 1px solid #848688;
}

.dark .post-content > table tfoot {
	background: #141618;
}

.dark .post-content kbd {
	background: #141618;
	border: 1px solid #343638;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.55),
		inset 0 2px 0 0 rgba(44,44,44,.7);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.55),
		inset 0 2px 0 0 rgba(44,44,44,.7);
	box-shadow: 0 1px 1px rgba(0,0,0,.55),
		inset 0 2px 0 0 rgba(44,44,44,.7);
	color: #848688;
}

.dark .post-content hr {
	border-bottom: 1px dashed #545658;
}

.dark .sidenav {
	background: #141618;
	border: 1px solid #343638;
}

.dark .sidenav ul li {
	border-bottom: 1px solid #343638;
}

.sidenav ul li:last-of-type {
	border-bottom: none;
}

.dark .sidenav ul li:hover {
	background: #242628;
}

.dark .sidenav ul li a:link,
.dark .sidenav ul li a:visited {
	color: #bcbfc2;
}

.dark .sidenav ul li.current {
	background: #343638;
}

.dark .social-share a {
	background: #242628;
	border: 1px solid #343638;
}

.dark .social-share a:link,
.dark .social-share a:visited {
	background: #242628;
	border: 1px solid #343638;
}

.dark .social-share .si-icon-twitter:hover,
.dark .social-share .si-icon-facebook:hover,
.dark .social-share .si-icon-linkedin:hover,
.dark .social-share .si-icon-pinterest:hover,
.dark .social-share .si-icon-email:hover {
	background: #141618;
	border-color: #545658;
	color: #bcbfc2;
}

.dark .loop-excerpt {
	border-bottom: 1px dashed #545658;
}

.dark .loop-excerpt:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
}

.dark .loop-excerpt a:link,
.dark .loop-excerpt a:visited {
	text-decoration: none;
}

.dark .next-prev {
	border-bottom: 1px dashed #545658;
	border-top: 1px dashed #545658;
}

.dark .next-prev a:link,
.dark .next-prev a:visited {
	color: #58a6ff;
	text-decoration: underline;
}

.dark .next-prev a:hover {
	color: #f17e01;
}

.dark footer {
	border-top: 8px solid #343638;
}

@media only screen and (max-width : 1024px) {

	.dark .navigation select {
		background: #242628;
		border: 1px solid #343638;
	}

	.dark .navigation select:hover {
		background: #141618;
		border-color: #545658;
	}

	.dark .navigation select option {
		background: #242628;
		color: #bcbfc2;
	}
}

@media only screen and (max-width : 480px) {

	.dark .logo a {
		background: #242628;
		border: 1px solid #343638;
		color: #bcbfc2;
	}

	.dark .logo a:hover {
		background: #141618;
		border-color: #545658;
	}

	.dark .title-bar li {
		background: #242628;
		border: 1px solid #343638;
	}
}
