@charset "utf-8";
.highlight { background-color: #141618; color: #a6b5c5 }
.highlight .hll { background-color: #141618 }
.highlight .c { color: #6b859e } /* Comment */
.highlight .err { color: #141618; background-color: #ec5252 } /* Error */
.highlight .k { color: #5da713 } /* Keyword */
.highlight .l { color: #6ecfcf } /* Literal */
.highlight .n { color: #6ecfcf } /* Name */
.highlight .o { color: #9acd68 } /* Operator */
.highlight .p { color: #a6b5c5 } /* Punctuation */
.highlight .cm { color: #6b859e } /* Comment.Multiline */
.highlight .cp { color: #6b859e } /* Comment.Preproc */
.highlight .c1 { color: #6b859e } /* Comment.Single */
.highlight .cs { color: #6b859e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #a359ed } /* Keyword.Constant */
.highlight .kd { color: #6ecfcf } /* Keyword.Declaration */
.highlight .kn { color: #7dbeff } /* Keyword.Namespace */
.highlight .kp { color: #cb96ff } /* Keyword.Pseudo */
.highlight .kr { color: #6ecfcf } /* Keyword.Reserved */
.highlight .kt { color: #6ecfcf } /* Keyword.Type */
.highlight .ld { color: #cb96ff } /* Literal.Date */
.highlight .m { color: #9acd68 } /* Literal.Number */
.highlight .s { color: #6ecfcf } /* Literal.String */
.highlight .na { color: #7dbeff } /* Name.Attribute */
.highlight .nb { color: #a6b5c5 } /* Name.Builtin */
.highlight .nc { color: #13afaf } /* Name.Class */
.highlight .no { color: #a359ed } /* Name.Constant */
.highlight .nd { color: #13afaf } /* Name.Decorator */
.highlight .ni { color: #eda55d } /* Name.Entity */
.highlight .ne { color: #ff9191 } /* Name.Exception */
.highlight .nf { color: #7dbeff } /* Name.Function */
.highlight .nl { color: #eda55d } /* Name.Label */
.highlight .nn { color: #a6b5c5 } /* Name.Namespace */
.highlight .nx { color: #9acd68 } /* Name.Other */
.highlight .py { color: #a6b5c5 } /* Name.Property */
.highlight .nt { color: #3890e9 } /* Name.Tag */
.highlight .nv { color: #eda55d } /* Name.Variable */
.highlight .ow { color: #9acd68 } /* Operator.Word */
.highlight .w { color: #a6b5c5 } /* Text.Whitespace */
.highlight .mf { color: #ec5252 } /* Literal.Number.Float */
.highlight .mh { color: #ec5252 } /* Literal.Number.Hex */
.highlight .mi { color: #ec5252 } /* Literal.Number.Integer */
.highlight .mo { color: #ec5252 } /* Literal.Number.Oct */
.highlight .sb { color: #6ecfcf } /* Literal.String.Backtick */
.highlight .sc { color: #6ecfcf } /* Literal.String.Char */
.highlight .sd { color: #6ecfcf } /* Literal.String.Doc */
.highlight .s2 { color: #6ecfcf } /* Literal.String.Double */
.highlight .se { color: #c97016 } /* Literal.String.Escape */
.highlight .sh { color: #6ecfcf } /* Literal.String.Heredoc */
.highlight .si { color: #6ecfcf } /* Literal.String.Interpol */
.highlight .sx { color: #6ecfcf } /* Literal.String.Other */
.highlight .sr { color: #c97016 } /* Literal.String.Regex */
.highlight .s1 { color: #6ecfcf } /* Literal.String.Single */
.highlight .ss { color: #6ecfcf } /* Literal.String.Symbol */
.highlight .bp { color: #a359ed } /* Name.Builtin.Pseudo */
.highlight .vc { color: #7dbeff } /* Name.Variable.Class */
.highlight .vg { color: #c97016 } /* Name.Variable.Global */
.highlight .vi { color: #c97016 } /* Name.Variable.Instance */
.highlight .il { color: #ec5252 } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #6b859e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #ec5252; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #5da713; } /* Generic.Inserted & Diff Inserted */
