---
layout: default
---
{%- if page.ldjson == true %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": {{ page.h1 | jsonify }},
  "url": "{{ site.url }}{{ page.url }}",
  "inLanguage": "es-ES",
  "isPartOf": {
    "@type": "WebSite",
    "url": "{{ site.url }}",
    "name": {{ site.title | jsonify }}
  },
  "primaryImageOfPage": {
    "@type": "ImageObject",
    "url": "{{ site.url }}/{{ page.image }}"
  }
}
</script>
{% endif -%}

<div class="post">

  {%- if page.zone.content_top -%}
  {%- include {{ page.zone.content_top }} -%}
  {%- endif -%}

	{%- if page.h1 -%}
		<h1 class="post-title">{{ page.h1 }}</h1>
	{%- else -%}
		<h1 class="post-title">{{ page.title }}</h1>
	{%- endif -%}

	<div class="post-content">
		{{ content }}
	</div>

  {%- if page.zone.content_bottom -%}
  {%- include {{ page.zone.content_bottom }} -%}
  {%- endif -%}

	{%- if page.share == true -%}
	{%- include social-share.html -%}
	{%- endif -%}

</div>
