<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">

	{% include head.html %}

	<body>
		<script>
			if (window.localStorage.toggled) {
				document.body.classList.add(window.localStorage.toggled);
			}
		</script>
		{% include header.html %}
		{%- if page.sidebar == "left" -%}
			{%- assign side = " sidebar-left" -%}
		{%- elsif page.sidebar == "right" -%}
			{%- assign side = " sidebar-right" -%}
		{%- elsif page.sidebar == false -%}
			{%- assign side = "" -%}
		{%- endif %}

		<main class="main-content{{ side }}" aria-label="Content">
			<div class="wrap">
				{{ content }}
				{%- if page.sidebar -%}
					{%- include sidebar.html -%}
				{%- endif -%}
				<hr class="clear" />
			</div>
		</main>

		{% include footer.html %}

		{% include foot.html %}

	</body>

</html>
