---
layout: default
---
{%- if page.ldjson == true %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": {{ page.title | jsonify }},
  "url": "{{ site.url }}{{ page.url }}",
  "inLanguage": "es-ES",
  "isPartOf": {
    "@type": "WebSite",
    "url": "{{ site.url }}",
    "name": {{ site.title | jsonify }}
  },
  "primaryImageOfPage": {
    "@type": "ImageObject",
    "url": "{{ site.url }}/{{ page.image }}"
  }
}
</script>
{% endif -%}

<div class="post">

  <div class="post-content">
    {{ content }}
  </div>

</div>
