---
layout: default
---
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": {{ page.title | jsonify }},
  "url": "{{ site.url }}{{ page.url }}",
  "inLanguage": "es-ES",
  "isPartOf": {
    "@type": "WebSite",
    "url": "{{ site.url }}",
    "name": {{ site.title | jsonify }}
  },
  "primaryImageOfPage": {
    "@type": "ImageObject",
    "url": "{{ site.url }}/{{ page.image }}"
  }
}
</script>

<article class="post">

	<h1 class="post-title">{{ page.title }}</h1>

	{%- if page.zone.content_top == true -%}
	{%- include zone-top.html -%}
	{%- endif -%}

	<div class="post-content">
		{{ content }}
	</div>

	{%- if page.zone.content_bottom == true -%}
	{%- include zone-bottom.html -%}
	{%- endif -%}

	{%- if page.share == true -%}
	{%- include social-share.html -%}
	{%- endif -%}

</article>
