---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/Article">

	<section class="post-header">
		<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		{% include post-meta.html %}
	</section>

	{%- if page.ads.top == true -%}
	{%- include ads-top.html -%}
	{%- endif -%}

	<div class="post-content" itemprop="articleBody">
		{{ content }}
	</div>

	{%- if page.ads.bottom == true -%}
	{%- include ads-bottom.html -%}
	{%- endif -%}

	{%- if page.share == true -%}
	{%- include social-share.html -%}
	{%- endif -%}

	{%- if site.disqus.shortname -%}
	{%- include disqus_comments.html -%}
	{%- endif -%}

</article>
