---
layout: default
---
{%- if page.ldjson == true %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "name": {{ page.h1 | jsonify }},
  "headline": {{ page.h1 | jsonify }},
  "url": "{{ site.url }}{{ page.url }}",
  "datePublished": {{ page.date | date_to_xmlschema | jsonify }},{%- if page.last_modified_at %}
  "dateModified": {{ page.last_modified_at | date_to_xmlschema | jsonify }},{%- endif %}
  "author": {
    "@type": "Person",
    "name": {{ page.author | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | jsonify }},
    "url": "{{ site.url }}",
    "logo": {
      "@type": "ImageObject",
      "width": 32,
      "height": 32,
      "url": "{{ site.url }}{{ site.favicon_32 }}"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "image": {
    "@type": "ImageObject",
    "url": "{{ site.url }}/{{ page.image }}"
  }
}
</script>
{% endif -%}

{%- if site.sticky_menu == true -%}
{%- assign scroll = " scroll-55" -%}
{%- endif -%}

  <div class="post h-entry{{ scroll }}">

	<article>
		{%- if page.zone.content_top -%}
		{%- include {{ page.zone.content_top }} -%}
		{%- endif -%}

		<header>
		{%- if page.h1 -%}
			<h1 class="post-title">{{ page.h1 }}</h1>
		{%- else -%}
			<h1 class="post-title">{{ page.title }}</h1>
		{%- endif -%}

		{%- if page.postmeta -%}
			{% include post-meta.html %}
		{%- endif -%}
		</header>

		<div class="post-content">
			{{ content }}
		</div>

		{%- if page.zone.content_bottom -%}
		{%- include {{ page.zone.content_bottom }} -%}
		{%- endif -%}
	</article>

	{%- if page.nextprev == true -%}
	{%- include next-prev.html -%}
	{%- endif -%}

	{%- if page.share == true -%}
	{%- include social-share.html -%}
	{%- endif -%}

	{%- if site.disqus.shortname -%}
	{%- include disqus_comments.html -%}
	{%- endif -%}

</div>
